[2015-09-11 17:54] wabain opened #1 "Determine client-side stack"
Primarily for @ahankinson :
- Where do we stand on React? Am I good to go, or should we make time to go over how it works, potential issues, etc. at some point?
- I'd like to test out using [Flow](http://flowtype.org/), a JS type checker. It works in part by using type annotations embedding in the source files. These are a strict superset of JavaScript (the annotations just get stripped out while

[2015-09-11 18:08] ahankinson commented on #1
1. React is a go. Try to get a handle on [Flux](https://facebook.github.io/react/docs/flux-overview.html). I'm wondering if we can avoid duplicating "models" on the client side and just fetch things directly from the server as needed.
2. Flow looks good. Probably your first task is to start putting together a gulpfile that builds a pipeline of checkers and processors. ++ on the linters.
3. Live re

[2015-09-11 18:35] wabain commented on #1
For Flux, I've been looking at [Redux](https://github.com/rackt/redux), which is supposed to make the flow of logic clearer than standard Flux implementations ([e.g.](https://gist.github.com/gaearon/d77ca812015c0356654f)). If I don't go with that I'll probably use [Flummox](https://github.com/acdlite/flummox). I'll definitely be using some kind of centralized data manager rather than standalone mo

[2015-09-16 16:41] agpar opened #2 "Import URL verification."
Should URL verification (checking that the given URL returns JSON, checking that the JSON has the basic requirements of a IIIF manifest) be done on the front-end or the back-end?

If it's done on the back-end, then there's the issues of:
- Either taking a long time to respond when a link is invalid (waiting for a timeout)
- Or sending back an 'Accepted' response immediately, doing the verification

[2015-09-16 18:34] wabain commented on #2
Doing it on the frontend is (1) theoretically insecure (easy to just post
to the endpoint) and (2) means that import can't be done via a public REST
API.

There's also a question of how much code we would have to push to the
frontend to do validation, but that seems less severe.

Is there no way to get the request to stay pending while we handle
validation of the main thread? The timeout case does

[2015-09-16 18:40] agpar commented on #2
No, it's not impossible, I'm just not very happy with any of the ways I can think of doing it.
1. Return ACCEPTED and start processing - no feedback to user.
2.  Add 'indexed' field to manifests, on POST create a Manifest in the DB, return URL to this manifest (/manifests/[id]). This URL will return a response saying either "still indexing", "error while indexing [description]" or will actually re

[2015-09-16 18:41] ahankinson commented on #2
If it's just validation then it shouldn't take too long. Try validating a large manifest with Python and see how long it takes. If it's less than half a second I wouldn't worry about it.

[2015-09-16 18:43] ahankinson commented on #2
Both 1 and 2 are good. You might think about using uuids as the pk. (See rodan for example)

[2015-09-16 20:16] wabain commented on #2
What about 3 but with an ImportStatus model instead of TempManifest? I'd
prefer an API where if I  GET a manifest and receive a 200, then the
resource is valid and good to go.
On Sep 16, 2015 2:43 PM, "Andrew Hankinson" notifications@github.com
wrote:

[2015-09-16 20:20] ahankinson commented on #2
If you're using celery you can query it to get the status of any job.

See: https://github.com/music-encoding/customeization/blob/master/customeization.py#L143

An extra model just for holding status seems like more code to keep in sync. I would go for a field on the manifest model that indicates its indexing status.

[2015-09-16 20:37] wabain commented on #2
Using Celery sounds fine. What I really want is a distinct endpoint or status code.

[2015-09-16 20:53] ahankinson commented on #2
Did you see this?

http://restcookbook.com/Resources/asynchroneous-operations/

Return a 202, with a status URL (/status/[celery-id]). No model is needed there.

[2015-09-16 20:56] wabain commented on #2
That's what I had in mind
On Sep 16, 2015 4:53 PM, "Andrew Hankinson" notifications@github.com
wrote:

[2015-09-16 21:27] agpar commented on #2
If I'm just returning a link to status/[celery PID], then I don't need the 'indexed' field on manifests, as I'll only create the Manifests if the import goes OK.

[2015-09-17 17:01] wabain opened #3 "Don't validate remote manifest content type"
Currently we're checking the `Content-Type` of manifests during import and seeing if they're correct (i.e., JSON or JSON-LD). However, some providers don't have it set correctly. For instance, e-codices is sending them as `text/html`, and I suspect that kind of thing is pretty common IRL. Since we're validating the format of the content anyway it should be safe to just disregard the content type.

[2015-09-17 17:26] wabain commented on #2
So I think where we are right now is:
- If you POST to `/manifests/`, you get a `202 Accepted` response with a JSON body. That JSON contains a field like `"status": "http://example.org/status/[id]"`
- Doing a GET on `/status/[id]` returns a JSON object which indicates whether import is ongoing, was successful, or failed.
- Doing a GET on `/manifest/[id]` while import is ongoing, or if there is an

[2015-09-17 17:28] agpar commented on #2
:+1: Agreed

[2015-09-17 20:19] ahankinson commented on #2
Man, I love it when esoteric HTTP status codes get used properly. `303 See Other` is brilliant. This sort of thing gets me up in the morning.

[2015-09-17 20:20] ahankinson commented on #2
Point 4: The corollary of point 3b: If you request a status for an object that _has_ been created, it 303s you to the manifest.

[2015-09-17 20:21] ahankinson commented on #2
That last one might be tricky, since it would require keeping the Celery IDs around and redirecting them. Perhaps it's understood that these expire periodically.

[2015-09-17 20:22] ahankinson commented on #3
Or we can contact them and ask them to change it. That's one of the things I want to do with this project is help our sources provide better IIIF resources.

[2015-09-17 20:24] ahankinson commented on #3
@lpugin Do you know who we might contact at e-codices to ask about their web serving infrastructure?

[2015-09-17 20:32] wabain commented on #3
There's also a typo in the content of their IIIF manifests we should let them know about (`see_also` instead of `seeAlso`).

[2015-09-18 00:10] agpar opened #4 "IIIF validation."
The presentation validator distributed by IIIF does not run on Python3.
On [their website](http://iiif.io/api/presentation/validator/) they encourage people to send manifests to

http://iiif.io/api/presentation/validator/service/validate?format=json&version=2.0&url=[manifest-url-here]

And have them validate for you. This returns a json object with results.

[code]

Notice it caught the very two t

[2015-09-18 00:33] agpar commented on #2
I'm keeping results of process around using djcelery (creates and manages a database table for CELERY_RESULT_BACKEND - we could flush this every so often, but its probably small). So 3b/4 is handled by getting the celery process results and returning a 303 if it was a SUCCESS.

We spoke about and agreed to return 404 on a GET to `manifests/[id]` if the manifest is still processing or failed to be

[2015-09-18 00:46] ahankinson commented on #4
I would rather see you spend some time to get it working on Py3. It shouldn't be too hard. They've been having problems with keeping their validator running, and I don't really want to dump lots of manifests on them.

[2015-09-18 01:09] agpar commented on #4
OK - but I'd like to keep using it while developin' so I can get an API up for Will to develop on ASAP-ly.

[2015-09-18 01:12] wabain commented on #4
Validation doesn't need to be a priority for me as long as I can manually get a manuscript indexed. Really, just skipping validation would be fine for short-term development as far as I'm concerned.

[2015-09-30 16:39] ahankinson opened #5 "Investigate IIIF Search API"
http://search.iiif.io/api/search/0.9/

[2015-10-01 14:48] agpar commented on #5
Just finished reading through this - the focus is entirely on providing search capabilities within a single resource, i.e. allowing one to send a query to `e-codices.com/search/[manifest id]/?q=` and receiving matching canvases and annotations within the single manifest in the URI.

This once again raises the question of how granular we want our search results to be. If we are simply aiming to poi

[2015-10-01 17:55] wabain opened #6 "Improve hot module reloading"
I've put together an initial implementation of hot module reloading for the React components. (Hot module reloading is granular live reloading for JS -- it lets you reload a JS module instead of reloading the whole page when a JS file changes.) I'm using a proxy server which injects the hot reload logic into HTML pages.

There are still some things which should be improved, though:
1. I have to pu

[2015-10-02 20:25] wabain commented on #2
I seem to have uploaded the same manifest for St. Gallen 391 from e-codices three times while developing. There should probably be some kind of deduplification going on on the backend. I don't know what that should look like in terms of the API, though. I guess we redirect in response to the initial POST?

[2015-10-02 20:27] wabain commented on #6
Actually, for (2) I have no idea what `trace` really does. Maybe having it on in production doesn't matter.

[2015-10-02 21:44] wabain opened #7 "Indicate content types for manifests"
Currently, we redirect from the /status/ endpoints to the manifest upon successful import. However, doing this means that there's no great way of telling whether the response received is a status or the manifest itself (without knowledge of the URL structure, which isn't something we should hardcode).

If we're moving to serving cached manifests then this shouldn't be a problem; JSON-LD contexts a

[2015-10-02 22:46] wabain opened #8 "Can only POST form data to the /manifest endpoint"
Currently the `/manifest/` endpoint does not accept JSON input; that would probably be a feature we want.

[2015-10-03 16:40] agpar opened #9 "Check for duplicate remote_urls when posting in."
Currently there is no check to see that we do not already have a manifest indexed and stored in the DB. Clearly there should be one. The issue, as Will pointed out in #2 is how the event of a duplicate should be handled.

A redirect to the manifests page is not out of the question - or maybe we should simply handle this by deleting the old document and re-indexing in solr. I think this might be th

[2015-10-03 16:40] agpar commented on #2
This is worth having a separate issue to discuss.

[2015-10-03 16:44] ahankinson commented on #9
I like the second option -- delete and re-index.

Maybe it's over-engineering, but I was thinking we could have a hash (MD5 or SHA1) of the manifest stored in Solr. We could also hash the URL. This would give us an easy way of seeing if we have the same URL but a different manifest, or the same manifest at different URLs.

Thoughts?

[2015-10-03 16:52] agpar commented on #9
Wouldn't that alert us that we have a different manifest at the same url any time the remote manifest is updated? Do we handle that by deleting the old document, or creating a new one? It wouldn't tell us if one line had changed, or if it was an entirely new manifest - right? - just that something had changed.

If all this provides is the knowledge needed to _not_ have to re-index when the remote

[2015-10-03 16:55] agpar opened #10 "Standardize status codes in the status view."
Right now there's the possibility or returning any status codes straight from celery (RETRY, STARTED, REVOKED). It would be more consistent and a better API if all these mapped into one of three codes - PROCESSING, SUCCESS, ERROR.

[2015-10-03 17:00] agpar commented on #7
The redirect happens automatically in chrome, but if you curl (or use ajax - I assume) to a status page, you will recieve the status and the location of the resourse in the header and body.

[code]

[2015-10-03 17:00] ahankinson commented on #9
I can imagine a couple scenarios:

1) The URL changes, but not the manifest. A IIIF server moves from a 'beta' site to a release site, for example. Or someone is hosting the same manifest on two different servers.

2) The Manifest is updated, but the URL stays the same. Easy to imagine the scenario there.

For 2), it's pretty obvious that we want to support it. For 1) however, I think we should gu

[2015-10-03 17:01] agpar commented on #7
Sorry - that's in response to what you seemed to be bringing up in the first paragraph, but now that I re-read your title and the second paragraph, I'm not sure I understand your question!

[2015-10-03 17:02] ahankinson commented on #10
They should also be defined as constants with integer values, rather than as strings, e.g.,

`settings.py`:
PROCESSING = 1
SUCCESS = 0
ERROR = -1

`somecode.py`:
status = settings.PROCESSING

[2015-10-03 17:03] agpar commented on #9
I wasn't considering case 1. That's a good point.

[2015-10-03 17:04] agpar commented on #10
It's better to serve an int as the status over http?

[2015-10-03 17:12] ahankinson commented on #10
It's certainly smaller...

You could expose the statuses in root endpoint of the API, so that JS clients can auto-configure themselves and know that 1 = processing.

See the 'configuration' section of the Rodan root response: http://rodan-dev.simssa.ca/?format=json

[2015-10-07 20:02] agpar opened #11 "Process remote_urls so they are always the same."
Should implement a method that makes sure all remote_urls start with `http[s]?://` and end with a `/` so that I don't end up missing duplicates based on small technicalities.

Related to #9

[2015-10-07 20:20] wabain commented on #11
I'm pretty busy today, but I want to get down my thoughts on this quickly. Hope it makes sense! (I also have thoughts about some of the other issues which I'll get to tomorrow.)

"Technicalities" really is the right word here, because there's nothing in the [relevant standards](http://tools.ietf.org/html/rfc3986) that says that e.g. a URL with and without a trailing slash are the same. So in a sen

[2015-10-07 20:27] ahankinson commented on #11
If you ensure [de-dupe](https://cwiki.apache.org/confluence/display/solr/De-Duplication) on the manifest field only, you would remove the possibility of having the same manifest twice in your index, which is what I think you really want.

[2015-10-07 20:55] agpar commented on #11
I also want to avoid having a manifest twice in the database. And I'd like to update an existing manifest (call its .save() method so that its update date is changed) rather than delete and create a new one when a manifest is imported for the nth time.

[2015-10-07 20:57] ahankinson commented on #11
Nah. Don't bother with updating.

[2015-10-07 21:07] agpar commented on #11
Well - it's kind of already done except for doing something to make sure they way I'm comparing urls is fuzzier than 'exact string match'.

If you try to import a url now, it will look if we already have a manifest with that exact url, then call .save() on it and re-index it from the remote.

The idea here is that http://[domain d]/[manifest m] will always have the same uuid in our indexes.

[2015-10-07 21:12] agpar commented on #11
Or, if you guys think its of no value to doing this I can remove it. Then we'd just have a different Manifest in the DB for every Manifest that's ever been successfully imported, including duplicates if it was imported more than once.

I thought it would be useful to try to keep the ids consistent and keep the DB empty of any duplicate information - but since we only ever intend to serve search re

[2015-10-08 06:20] ahankinson commented on #11
Solr regex queries might be useful here. Define a regex that takes into account http/s and trailing slash, then search for that. If anything comes back, you know you've got a duplicate URL.

http://www.openjems.com/solr-regex-tutorial/

[2015-10-08 17:09] wabain commented on #11
I think this all sounds okay to me. What I was really worried about was the URLs that are actually requested getting processed. Doing fuzzy matching sounds fine.

[2015-10-08 17:12] wabain commented on #7
Right, I can unpack this a bit. Ajax requests _do_ automatically redirect. Usually you can see the ultimate URL (with some caveats, because Internet, but it should be workable). You can't see all the redirects, and in particular you can't see the status of the redirects.

This means that all we have to work with are the ultimate URL and the headers and content of the ultimate response. I don't wan

[2015-10-08 17:17] wabain commented on #9
Are there circumstances here where our URL for the manifest would change? That seems like it could be a problem.

There's also a question in my mind of whether we would _always_ want to reindex on POST. If a user submits a URL and we just indexed that URL, do we always want to do it again?

[2015-10-08 17:22] ahankinson commented on #7
Won't a status response be a 3XX, while a manifest response will be a 2XX? Or am I missing something?

[2015-10-08 17:33] wabain commented on #7
The browser will redirect automatically; all we can see is the final 2XX status.

[2015-10-08 18:22] agpar commented on #10
Fixed in 0f0bcaad06dc745d9d02d515c32228a07b37161d

[2015-10-08 18:22] #10 closed, assigned to nobody

[2015-10-08 19:25] #8 closed, assigned to nobody

[2015-10-08 22:35] wabain opened #12 "Celery returns SUCCESS on non-JSON data"
When the url of a non-JSON resource is POSTed to /manifests/, Celery (and therefore the /status/ endpoint) indicate a SUCCESS status, as well as giving an error message:

[code]

Steps to reproduce:
- POST to /manifests/ with remote_url=`http://example.org/`
- Wait until the returned status is no longer pending

[2015-10-08 22:43] agpar commented on #12
You need to restart celery I think. The tasks in celery's brain don't get updated when the files are changed... That error message is coming from the online validator, which is not being used in the current version.

When I try to import that url

[code]

A trace is being printed because I'm doing a json.dumps without even checking that the content is json. My validate function is commented out be

[2015-10-08 22:46] wabain commented on #12
Makes sense. We should document this stuff at some point.

[2015-10-08 22:46] #12 closed, assigned to nobody

[2015-10-08 22:49] wabain commented on #12
Would this be useful? http://celery.readthedocs.org/en/latest/userguide/workers.html#autoreloading

[2015-10-08 23:06] agpar commented on #12
Looks like it!

[2015-10-09 02:38] ahankinson opened #13 "Don't expose too much info in trace"
The internet is a big, bad place. I would be careful about exposing too much information about the workings of Python by returning the raw stack trace, since this could (potentially) be used to find vulnerabilities in the system.

Instead you should make sure the error is logged, and then return an informational message to the user about why the manifest couldn't be processed.

[2015-10-09 14:58] agpar commented on #13
Okay. Would something like this be better?

[code]

Or is even exposing the exception name a bad idea?

[2015-10-09 16:49] agpar commented on #9
1) The _exact_ same manifest should never appear at a different URL, as its `@id` field must point to it's URL. Hashing full manifests will only be useful if we do fuzzy hashing, which worries me a tiny bit since there is so many repeated words in manifests that entirely different manifests of a similar length might have scarily high similarity ratings.

2) Exact URL matches are already being hand

[2015-10-09 17:09] agpar commented on #11
Oh duh here's the solution. Since each manifest must have an  `@id` field with the url where it's published, we'll just call that the 'definitive' remote_url for the object. So the trailing slash and schema differences shouldn't even matter - as long as its actually the same manifest at http and https and with or without the trailing slash, it will have the same `@id`

[2015-10-09 17:31] agpar commented on #9
To Will's comment: We're already doing a check to see if a particular URL is already in our database (this should be consistent based on what I just wrote in #11), so we could also check the last time the manifest was indexed and only index it if hasn't been successfully indexed in the last 24h (or more).

[2015-10-09 17:36] #5 closed, assigned to nobody

[2015-10-09 17:40] agpar opened #14 "Format search results to mimic IIIF search API."
It would be good to format the search results to be similar to the IIIF search API. Even though this API only defines behaviour for searching within a single manifest, it might be advantageous to follow it closely. Especially if at one point we decide we'de like to return results at a granularity smaller than manifests. Continued from #5

http://search.iiif.io/api/search/0.9/

[2015-10-09 17:51] agpar commented on #9
Still not solved: a manifest being moved from one location to another, and being entirely the same except for it's `@id` field. We could do a strict hash across indexed fields - so if `label` and `type` and `description` and `metadata` and anything else besides `@id` are all the same then we consider it a duplicate.

But that's still a tough case. Do you delete the old one and replace it? What if

[2015-10-09 17:54] agpar commented on #2
I would say this issue is closed, given that the project is now firmly in the 'validate asynchronously and offer a status page" camp.

[2015-10-09 17:54] #2 closed, assigned to nobody

[2015-10-09 17:54] ahankinson commented on #9
Can't we just get the URL from the manifest `@id` and the strict hash from the manifest itself? Then it's like two-factor authentication -- they should both pass.

If a manifest hashes the same but its URL is different you _must_ delete the manifest with the old URL and add a new record with the new URL and the manifest.

[2015-10-09 17:56] ahankinson commented on #14
It might be a good idea to add a IIIF Response Writer to Solr.

https://cwiki.apache.org/confluence/display/solr/Response+Writers

[2015-10-09 18:16] agpar commented on #9
Here's the flow I'm looking at.
1. Get `manifest` from `remote_url`
2. Get `manifest2` from `manifest[@id]`
3. Hash the two and compare to assure they are the same.
4. Query solr for `manifest[@id]`. If it exists and was updated <24 hours ago, return.
5. Index in solr using `manifest[@id]` as URL
   1. Solr dedupes and replaces on exact URL matches
   2.  Solr produces a hash `sig` based on all in

[2015-10-13 15:18] agpar commented on #4
As of 5e5211dcb4ddb532e8ee886c841302f493180d1a there's validation happening on our end, and it seems to work (there are not very good tests available for the files I took from the IIIF people).

There might be quite a few bugs in it. Also, I think it should be modified to attempt minor corrections when importing. For instance, http://manifests.ydc2.yale.edu/manifest/Admont23 will fail because its

[2015-10-13 16:46] ahankinson commented on #4
The purpose of a validator is to validate -- I don't think it should attempt a correction, since that's not just validation.

I'm going to write an e-mail to the IIIF group about validation and buggy manifests.

[2015-10-15 21:03] wabain opened #15 "Restrict ability to update/delete manifests"
Just noting this so that we get to it eventually: Currently, the `ManifestDetail` view is implemented as a `RetrieveUpdateDestroyAPIView`. We probably at least want to restrict the ability to update or delete manifests to admins.

[2015-10-29 18:06] #13 closed, assigned to nobody

[2015-10-29 21:57] wabain commented on #9
This seems to be mostly implemented. Is there more to do on it?

[2015-10-29 21:58] agpar commented on #9
Yeah - it's not quite implemented. I'm fooling around with solr right now to get it going.

[2015-10-29 22:00] wabain commented on #9
Cool. I just wanted to check that this issue wasn't stale.

[2015-10-29 22:01] wabain opened #16 "DOM errors with Diva"
I get intermittent errors when trying to instantiate Diva after the first time it's run. Usually these involve trying to take `textContent` of `null`.

[2015-10-29 23:33] ahankinson commented on #16
@affogarty had similar problems a while back, I think. It usually had to do with a phantom DOM node that was no longer there. Are you calling the Diva destructor when you destroy the first instantiation?

[2015-10-29 23:36] wabain commented on #16
Yes, but IIRC Cantus Ultimus does some other things to clean up as well.
I'll see if those resolve it here but hopefully I can track down the cause.
On Oct 29, 2015 7:33 PM, "Andrew Hankinson" notifications@github.com
wrote:

[2015-10-30 01:38] agpar commented on #14
The more I think about this, the more I think it's not very useful for what we're doing. Most of this API is for dissecting the importance/placement of results within the manifest... Imitating it really gives me nothing besides aesthetics.

[2015-10-30 17:36] wabain commented on #16
Looks like this isn't really a Diva problem. It was a bug in my React integration code.

[2015-10-30 17:37] #16 closed, assigned to wabain

[2015-11-02 00:38] wabain opened #17 "Determine content of search results"
Regardless of the format determined as a result of #14, we should work out what information is included in the search results. Where available I'd like to display:
- the label
- the manifest thumbnail
- the attribution
- maybe the English-language description since the label isn't always very informative, although I don't know how well this would fit with highlights on the page

I'll also need the

[2015-11-02 00:39] wabain commented on #14
Maybe serving results as a [Presentation API collection](http://iiif.io/api/presentation/2.0/#collections) would make sense?

[2015-11-02 01:00] wabain commented on #3
Worth noting that [currently](https://github.com/DDMAL/misirlou/blob/748faca8ce4275faad612d896999d2252434d6d7/misirlou/helpers/validator.py#L46) our validation makes bad content types a warning rather than an error, so the original purpose of this issue has pretty much been addressed.

[2015-11-02 15:11] agpar commented on #3
I'm likely going to be writing a validator based on json schema validation and a stripped down py2/3 script which only detects warnings - so yeah, we can close this.

[2015-11-02 15:11] #3 closed, assigned to nobody

[2015-11-02 15:18] agpar commented on #17
attribution and thumbnails can't be guaranteed - but I can include them if they are there on a search response. Do you want simply a link to the thumbnail (its `@id`), or the entire service block?

description is also not guaranteed - language preferences certainly not guaranteed. On some libraries they include multiple translations, but lots of libraries simply include a `description`, which is t

[2015-11-02 16:27] ahankinson commented on #17
Thumbnails are pretty easy -- if they're not specified, just request the first image (or a random image) at thumbnail size.

[2015-11-02 20:28] agpar commented on #17
NB: I've re-factored 'uuid' to 'id' as this issue highlighted the fact that this name was out of place. I know this wasn't exactly what you were getting at Will, but I believe this is more sensible than continuing to use 'uuid' to refer to what solr and django default to naming the id.

247e77daf94d398c16277c1010a887c1308a2e01

[2015-11-02 20:52] agpar commented on #14
Yes, we could do that (the search response API is very similar). But, it seems like this would be a purely aesthetic decision and is possibly dishonest.

For instance, a Collection MUST have an `@id` attribute with the collection's URI. If we're just serving up search results here, then what can we put in this field? The query that created it? Obviously it won't be a static description of the coll

[2015-11-02 20:54] ahankinson commented on #14
An ID can be a non-resolvable URI I think -- so `http://example.com/search/[SOME UUID HERE]/` would be a valid ID.

[2015-11-02 21:04] agpar commented on #14
I'm not sure I understand your example - what is this ID referring to? On our current set-up, your example would 404.

[2015-11-02 21:09] ahankinson commented on #14
It's a URI -- it doesn't have to be de-referenced, it just has to be unique.

[2015-11-02 21:11] agpar commented on #14
So - we wouldn't be putting anything at that URI... It's just there to be there?

[2015-11-02 21:12] agpar commented on #14
Because you're not saying we should save search results...

[2015-11-02 21:13] ahankinson commented on #14
Exactly. As far as I understand, an `@id` just has to be unique, it doesn't actually have to reference anything, right?

[2015-11-02 21:14] agpar commented on #14
Well in the IIIF API its supposed to reference a copy of the object it's nested in.

"`@id` and the value must be the HTTP URI from which the Collection’s description can be retrieved."

[2015-11-02 21:15] ahankinson commented on #14
OK, then I'm wrong.

[2015-11-02 21:29] agpar commented on #14
So, right, If we explicitly use the Search or Collection API, I feel like we're writing a check we can't cash... they're just not designed for what we're doing, and we're going to end up breaking (maybe not syntactic, but conceptual) promises of the API. The example I posted above is pretty close to them in terms of organization and aesthetics, so unless you guys have suggestions or criticisms tha

[2015-11-02 21:53] wabain commented on #14
I don't really mind one way or the other, but I don't think there's actually anything that keeps the collection API from being fit for our purpose. (It's worth noting that search results are actually one of their use cases, although they only mention it briefly.)

The `@id` URI is just the HTTP address from which we serve the result. There isn't (as far as I can see) any guarantee that the collect

[2015-11-02 22:03] agpar commented on #14
Collections have no concept of pagination (unless you include pages 2-n as sub-collections).
Empty collections are discouraged (we can't control this).
And again, I think the fact that the URI will reference a description that could change multiple times a day is not within the spirit of the object (I note, with some confusion, that you are correct that they included 'search results' in the use ca

[2015-11-02 22:24] wabain commented on #14
Pagination is a good point. The sub-collection relationship doesn't really seem good enough for that purpose since we don't want a list of all paginated subcollections.

If we were to introduce a different way of doing it (which we could; there's probably a decent standard for it out there and JSON-LD allows multiple contexts) I think we would still be violating the implicit ontology that using a

[2015-11-06 16:11] agpar commented on #15
Fixed in 240d039e04a9a55b2d7eb2be62e71e16724e2c4d

Detail view is only retrieve now... Hard to think I've why we're really need posting/deleting to the detail view.

[2015-11-06 16:11] #15 closed, assigned to nobody

[2015-11-09 21:06] agpar commented on #9
While implementing solr deduping, I frustratingly posted on the apache solr wiki saying their examples ~~sucked real bad~~ could be improved for users who wanted to implement the bare-bones features quickly/easily.

https://cwiki.apache.org/confluence/display/solr/De-Duplication?focusedCommentId=61327863#comment-61327863

World = better place.

[2015-11-10 00:10] ahankinson commented on #9
:+1:

[2015-12-04 21:32] agpar opened #18 "Search spell suggestions to return?"
Hey Will, I know you're out this week but I'd like to get your opinion on this eventually.

I've implemented spell checking in solr, and it can give us a tonne of information, I think maybe too much. Here's the spell checking output on a search for 'pari est dimnlz"

[code]

As you can see above, we have suggestions for each individual word of the phrase (pari = paris, parti, etc) and also collati

[2015-12-04 22:34] wabain commented on #18
I agree. Having the one collation with the list of corrections should be
good. Having typeahead would be great!
On Dec 4, 2015 4:32 PM, "Alex Parmentier" notifications@github.com wrote:

[2015-12-05 21:05] agpar commented on #18
Okay, so the json coming from the back end will look like this:

[code]

 'collations' is a dict with a single suggestion in it, or is null.

If you like, mispellingAndCorrections list could be massaged a little more on the backend, but you'll have to tell me what you'd like.

[2015-12-05 21:10] agpar commented on #18
As for type ahead, the way I did that on ElvisDB was to have a  `/suggestions` endpoint which queried a specific solr request handler and returned an almost-no-formatting-at-all list of suggestions for a single word. As the user was typing I would take the current value of the input, split it on spaces, and send whatever the last thing in that split was as a query to `/suggestions`, then dump what

[2015-12-05 21:14] #14 closed, assigned to nobody

[2015-12-07 07:11] ahankinson opened #19 "Hitting 'enter' in search field clears it"
On Chrome...

[2015-12-07 07:12] ahankinson opened #20 "Show metadata with Diva view"
Should show the metadata for the document at the same time as viewing it. Right now only the title is visible.

[2015-12-07 07:16] ahankinson opened #21 "Thumbnails of first page in search results"
Would be cool to show a sample page in the search results.

[2015-12-07 08:46] wabain commented on #19
Ah, I'm guessing I forgot to `preventDefault` the submit event. Kind of surprised it clears the field instead of just reloading the page with the search term maintained though.

[2015-12-07 09:46] wabain commented on #21
IIRC this (well, showing the IIIF thumbnail anyway - I assume showing the first page would also be pretty easy) is the plan. It's just a matter of getting the relevant fields in Solr. Maybe @lexpar can confirm.

[2015-12-07 13:28] ahankinson opened #22 "Title can be a list"
This manifest generates an error:

http://dams.llgc.org.uk/iiif/4574752/manifest.json

Looks like the title code can't handle it when a title is a list.

[code]

[2015-12-07 13:34] ahankinson opened #23 "Support collections"
Collections can be a way to bulk import.

See.
http://iiif.io/api/presentation/2.0/example/fixtures/collection.json

See also:
https://graph.global/universes/iiif

[2015-12-07 17:19] agpar commented on #21
I'm haven't written an algorithm to either find a thumbnail or grab the first page and index it as a thumbnail yet. Like Will said, should be simple once I write that.

[2015-12-07 18:06] #19 closed, assigned to nobody

[2015-12-07 18:20] wabain commented on #18
I think it would make more sense to have a separate endpoint for it, but I'm not too picky.

Now, if I _am_ going to be picky about something can we call `collations` something like `spellingSuggestions` instead? I don't think the meaning of collations is very obvious when it's not part of a `spellcheck` object. (And then maybe `original` or `query` instead of `collationQuery`.)

[2015-12-09 18:25] wabain opened #24 "Intermittent failures with search input"
Sometimes the search input stops updating on input for no apparent reason. The root cause of this is probably the way the search query interacts with the URL via the history API, so I'm guessing if I just change how that's wired this will be resolved.

[2015-12-09 18:44] wabain opened #25 "Create entry points to web client"
Currently the HTML client app just consists of a `/search` page, an upload page, and the various manifests. We need to add an entry point. @ahankinson suggested moving `/search` to the root URL - I'm envisioning this as having a search input at `/` which takes you to `/search?q=whatever` when you type. That also dovetails nicely with the existing JSON API, which doesn't accept `/search` without a

[2015-12-09 18:53] ahankinson commented on #25
Can we not do 'example.com/?q=blahblah'? I would prefer this to redirecting to 'search' for the results.

Browsing manifests might be a good thing to start with. Check out http://digital.bodleian.ox.ac.uk, esp. as you scroll down. Maybe something like this?

[2015-12-12 02:06] #24 closed, assigned to nobody

[2015-12-12 13:52] ahankinson opened #26 "systemjs missing from package.json"
When trying to build a bundle, I get 'err can't find systemjs'. Running 'npm install systemjs' seems to fix this. Perhaps it's missing from the package.json?

[2015-12-12 13:56] wabain commented on #26
It's there, under devDependencies. I did just add it yesterday, however. Running `npm install` should pull on the new stuff. I think I added a JSPM dependency as well.

[2015-12-12 13:56] #26 closed, assigned to nobody

[2015-12-12 17:10] wabain commented on #25
Making that switch probably shouldn't be a problem in terms of implementation (cc @lexpar). I think it would take about two lines of code on the client-side. I like the unfolding effect on the Digital Bodleian page!

What would requesting `/` as JSON without a search query return after this change? Should it be the API docs still, or something else? With the current search view, I think it would r

[2015-12-12 18:16] agpar commented on #25
Is the 'switch' you're referring to making the root an html endpoint which will redirect to `/search` if a `?q=` is provided?

[2015-12-12 18:30] wabain commented on #25
The switch, as I understand it, would be making the root the JSON endpoint for search, so you'd have `/?q=...` instead of `/search/?q=...`. The HTML would correspond.

[2015-12-12 18:45] agpar commented on #25
That's the opposite of what Andrew said he wanted. No? Or, its the opposite of what he said he didn't want. But that's confusing.

[2015-12-12 18:54] wabain commented on #25
I'm reading "Can we not do 'example.com/?q=blahblah'?" as "Is there a reason we could not do it, because doing that would be my preference". I think you read it differently?

[2015-12-12 18:59] agpar commented on #25
@ahankinson help us out.

[2015-12-12 19:15] ahankinson commented on #25
`example.com/?q=blah`

Since search is the main function of this app, so it makes sense to do everything from the root.

[2015-12-12 23:02] wabain commented on #25
So for the HTML client the behaviour would be:
- At `/` there's a search input and below it there are links to manifests, laid out similar to the Digital Bodleian homepage.
- Typing in the search input brings up search results, with the associated JSON endpoint being `/?q=...`. If I stuck pretty closely to the current search implementation then I guess the manifest links would be replaced by searc

[2015-12-12 23:04] ahankinson commented on #25
I think for the JSON the appropriate thing is to return an empty results list, with perhaps another section that gives the path for the 'upload' address so that other clients _could_ attempt to configure themselves and add manifests.

I'm sure you could also use the server-reported uploads path in your client too.

[2015-12-12 23:06] ahankinson commented on #25
You might have the results list 'push' the manifest lists down, and then 'slide' up when the search input is cleared.

This is web 2.0 you know. We're not barbarians. :)

[2015-12-12 23:06] ahankinson commented on #25
Or is it 3.0 now? I've lost count.

[2015-12-12 23:54] wabain commented on #25
It's probably like 35.0.3 because of semantic versioning. Pushing the results down sounds good though. I'll do that.

[2015-12-12 23:56] ahankinson commented on #25
Darn Chrome ruined illogical and arcane versioning schemes for everyone.

[2015-12-18 23:15] wabain commented on #14
Looks like pagination will be in version 2.1 of the Presentation API (not that it changes anything for this issue):
- http://iiif.io/api/presentation/2.1/#paging-properties
- https://github.com/IIIF/iiif.io/issues/598

[2015-12-18 23:28] wabain commented on #20
Any thoughts on security here? The only definite thing I think I should be doing is ensuring that links in the metadata aren't to `javascript:` URIs (I'll whitelist `http`, `https`, and `mailto`). Mirador doesn't [seem to be](https://github.com/IIIF/mirador/blob/190a6e9d4d63eaee034e9a50278b8c274e346b23/js/src/widgets/metadataView.js#L121) doing any special handling around this. I haven't checked t

[2015-12-20 15:16] agpar commented on #25
I cooked up this functionality on 78d972022a4731b7b498769c96e43a31839e2ea1 on a dev branch so you both could put some eyes on it and answer a couple questions I have.
1. Should we still have a `/search` endpoint? My feeling is yes. I like having that distinction.
2. What kind of manifest links should get served up on `/`? It looks like on http://digital.bodleian.ox.ac.uk/ they've hardcoded in some

[2015-12-20 15:19] ahankinson commented on #25
1. `http://www.google.com/search/` = 404. I'm looking at this like a search engine, so 'search' is the primary purpose of it, not a sub-purpose. I'm good with not having a `/search` endpoint.
2. I'm OK with the 10 most recent. Less management and simpler to hard-code.
3. `routes` sounds good to me.

[2015-12-20 15:39] agpar commented on #25
OK @wabain, I'm going to put all the functionality of searching on to `/` on to the wip-landing-page branch, but I won't actually remove the search endpoint, as I'm guessing it would break things for you. That should let you move things over, then we can nix the `/search` endpoint.

The only change that could effect what you were working on on that branch is that `/` now has SinglePageAppRenderer

[2015-12-20 17:41] agpar commented on #22
This issue was for all metadata labels which were lists. This should be fixed in cba0d33cbb1daf24419e1c8826ebd9a22473ec51 with the addition of _meta_label_normalizer().

[2015-12-20 17:41] #22 closed, assigned to nobody

[2015-12-20 18:35] wabain commented on #25
@lexpar looks good. I can get to the refactoring later this week.

Re Google's URL structure: the entry point is google.ca but when you enter a query you get taken to https://www.google.ca/search?q=query or whatever. So the logic is a lot like Alex's initial JSON implementation: trying to get `/search` gives you a 400 level response, but that's the endpoint you use to get search results.

[2015-12-20 19:20] wabain commented on #20
Oh, it looks like browsers actually have support for doing [HTML parsing in a separate document](https://developer.mozilla.org/en-US/docs/Web/API/DOMParser). That makes this easier - I can parse HTML content and then traverse the output DOM and take whitelisted HTML elements, or just their text.

[2015-12-20 19:57] agpar commented on #25
Okay great. I pushed the changes to wip-landing-page.

As an aside, I figured there wasn't much of a point in heading into the office today, as I didn't think any one would be around. Are there any days over the break that you're planning on going into work @wabain? I think there is a lot of value to us being in the same room at least some amount of time.

[2015-12-20 20:02] agpar commented on #23
Are you interested in maintaining this collection structure? i.e.: Should collections be a type of model/relationship/field that our indexes reflect, or do we simply treat it as a bulk import?

[2015-12-20 20:04] agpar commented on #23
Also - distinct point for importing collections, or catch and handle when posted into /manifests?

[2015-12-20 20:12] wabain commented on #23
I think it should be the same upload point, personally. I wouldn't want users to have to make a distinction, and the client won't have enough information to make the distinction for them.

[2015-12-20 20:13] agpar commented on #23
I agree.

[2015-12-20 20:14] ahankinson commented on #23
Same upload point, treat as a bulk upload

[2015-12-20 20:15] agpar commented on #23
Perfect.

[2015-12-20 20:19] ahankinson commented on #25
Can you think of a valid technological reason to maintain the search endpoint? I'm willing to concede the point if there is something that is necessary or easier with two endpoints but my naive inclination is that only having one is simpler. Thoughts?

[2015-12-20 20:28] agpar commented on #21
Would you like me to process the thumbnail urls before indexing them @wabain? If I get a IIIF image service, I can just generate the url for that image at 150px wide and index that. That way, all there is to do on the frontend is plop in the indexed url.

[2015-12-20 20:59] agpar commented on #25
My feeling was just that it made sense to have a point that was clearly used to send search requests to. It's not obvious that sending queries into the root should return search results. It is obvious that sending queries into `/search` should return search results.

I honestly don't see a problem with keeping both of them. Even if the `/search` endpoint is never used, I still feel it should be th

[2015-12-20 21:03] wabain commented on #25
I'm pretty agnostic about this because there's very little difference in terms of user experience or difficulty of implementation, but one reason to maintain a separate endpoint is because there's a mismatch of resource types. Even if you return an empty result list in the absence of a query, that still means something different than an empty result list given some query; clients need to make a di

[2015-12-20 21:03] wabain commented on #25
I do think that we should only keep one of `/?q=whatever` and `/search?q=whatever` though.

[2015-12-20 21:12] agpar commented on #25
Right. I'm fine going either way. The impact is small and my feelings about it are entirely subjective (maybe it _is_ confusing that a search website has two urls that do the exact same thing).

[2015-12-20 21:17] wabain commented on #21
Not totally sure, but I think it would be best to return an image service if one is provided. I already want code to handle those for the institution logos on the manifest detail page, so doing it for thumbnails shouldn't require much extra work, and I might want to vary the requested size based on the size of the user's viewport.

[2015-12-20 21:19] agpar commented on #21
Okay then. I'm thinking of making 2 thumbnail fields, `IIIF_thumbnail` and `thumbnail` - so you can easily figure out if you have a thumbnail you can manipulate or not (both are acceptable in the IIIF api).
Sound ok?

[2015-12-20 21:30] wabain commented on #21
That kind of detection logic is also something I'll be implementing on the client-side, so just having one `thumbnail` field would make sense to me since, as you say, either a URL or a service block is legal in the Presentation API.

[2015-12-20 21:46] agpar commented on #21
So do you want the whole service block? As it is, I'm just pulling the `@id` out of there.

[2015-12-20 21:57] wabain commented on #21
Yeah, it should probably be the whole service block, in case it contains other information I need (for instance, the supports property - see DDMAL/diva.js#297).

[2015-12-20 21:59] ahankinson commented on #25
This is a very good point. This is usually the behaviour that is implemented for `/search` endpoints; that is, if it's a `GET` return the "search" page with no results, and if it's a `POST` return the search results with a "results" page. The methods inform the intent of the action, rather than the endpoint.

If we were to get pseudo-philosophical for a minute, we should think of whether we think

[2015-12-20 22:02] ahankinson commented on #21
PS: You guys are awesome. Thanks for the attention to detail.

[2015-12-21 15:32] agpar commented on #21
:+1:

@wabain with f4c48cf0803e932308c2182bd5f0e2bc04851ece thumbnails should be up and running on pretty much anything you import.

[2015-12-21 18:43] agpar commented on #23
That example collection is insanity. Is it especially designed to contain every possible edge case?

I guess it is, given every manifest is called test.

[2015-12-21 18:49] wabain commented on #23
One case it doesn't have is subcollections, which seems important here.

[2015-12-21 18:56] agpar commented on #23
Well, that example just went down. That makes testing stuff more difficult.

[2015-12-21 19:08] ahankinson commented on #23
The Biblissima Collection seems like a nice test set:

https://graph.global/static/data/universes/iiif/biblissima.json

You can find more of them at the 'graph global' link. You could _try_ importing the Internet Archive and see what happens. ;)

[2015-12-21 19:13] agpar commented on #23
That collection fails immediately for not having an `@id` parameter, which is mandatory. I'm getting frustrated. So many libraries seem to only sort of or half implement this stuff. It's not even like including the `@id` attribute is hard: its just the url of the current resource.

[2015-12-21 19:15] ahankinson commented on #23
You should send an e-mail to the IIIF mailing list and point this out. No need to suffer in silence.

[2015-12-21 19:15] agpar commented on #23
Isn't it the bibilissima people I should be yelling at?

[2015-12-21 19:21] ahankinson commented on #23
Not if it's systematic -- just point out some of the problems with the collections that you're working with, and they should fix it. The easiest way to reach these people is through the IIIF mailing list.

[2015-12-21 21:12] agpar commented on #23
92ebc32b7872b30cca1e6f9030c75fee63aa75d2 has WIP code for collection importing. I figured out that I could include progress indicators with the status reports from celery, so @wabain you should use those to make a more menacing status bar when a collection is being imported (the progress{current:i, total:j}} member will only show up in a response from /status  if a collection is being imported ).

[2015-12-21 21:23] ahankinson commented on #23
Great, thank you! You should still send a note around to the IIIF mailing list asking about this.

[2015-12-21 22:48] wabain commented on #25
Interesting:

So a request would be something like

[code]

I think conceptually what we have now is a search resource (noun), so using GET is fine. Working out the rationale for the SEARCH method (caching, entity-body semantics...) led me down a nice rabbit-hole though.

[2015-12-21 22:58] wabain commented on #23
I haven't had a chance to read the commit but this sounds good! Will progress.total ever increase? I'm wondering about a scenario where pulling in subcollections causes the total number ot rise. I wouldn't want the progress indicator to go backwards. I guess I'll have to work out the logic for that - the progress percentage shouldn't be linear.

Also, what's returned on success? And is success det

[2015-12-21 23:17] wabain commented on #17
I think this is pretty much covered, or it falls under #21.

[2015-12-21 23:17] #17 closed, assigned to nobody

[2015-12-21 23:41] agpar commented on #23
No, the total won't grow. The collections import feature runs in two steps. It recurses into the sub collections and compiles a complete list of all the manifests it needs to import, and then works from that list.

As for what it returns on success, either the same thing as a single manifest returns on success (the success code and a list of warning/errors), or I forgot to write that part. The err

[2015-12-22 00:10] wabain commented on #23
Sounds good! I'll be able to work out any corner cases once I play around with it.

[2015-12-22 02:12] wabain commented on #18
I went ahead and changed the key from collations to spellcheck.

[2015-12-23 16:56] agpar commented on #18
Good call. As we talked about here, I've added an endpoint for typeahead suggestions at /suggest.

[2015-12-23 17:51] agpar commented on #23
I didn't think much about the status yesterday, in reality, they completely broke since they were trying to send you a redirect to a manifest. In any case, 77ba6b1c6a32afb20e93b91d5fc477bdf5900038 now includes really detailed status reports for collection importing. Hopefully this gives you the tools to build a nice interface!

[2015-12-28 16:10] wabain commented on #25
Not sure where we left this. Should I go ahead with moving search handling to `/`?

[2015-12-28 17:16] ahankinson commented on #25
Yes

[2016-01-14 19:42] wabain commented on #25
FYI I'm pushing some messy work to the wip-landing-page branch. I'm going to get it cleaned up and merged onto master now because the branches are diverging too far.

[2016-01-14 22:06] wabain commented on #25
Okay, I've got the updates onto master. Things @lexpar should know about:
- I copied the changes which had been made to the search view to the master view (9febebcb658af37d0a333f625b1c736f89dde1d9). The search view can probably be deleted now.
- I made a `/manifests/recent` endpoint to have something to code against (2b55a464dbafb53e9a5678495b555c5bcdf74f35). It returns 12 most recently created ma

[2016-01-14 22:09] wabain opened #27 "Search bugginess on client-side"
Some TODOs for me:

When I encounter an error in a search request, I end up resetting the pagination of the search results, so that if `Retry` gets clicked then the _first_ page of results gets requested and appended to whatever results were already loaded.

Also, there are race conditions around the order responses come in. When a response returns, it wipes out whatever was previously loaded. Thi

[2016-01-14 22:59] #18 closed, assigned to nobody

[2016-01-21 22:58] wabain opened #28 "Weird spell correction"
@lexpar, any idea why this is happening?

![screen shot 2016-01-21 at 5 56 54 pm](https://cloud.githubusercontent.com/assets/7651435/12497235/857b6200-c068-11e5-96af-373fdee5aca6.png)

[2016-01-21 23:47] agpar commented on #28
It might be because I'm just sending you the first collation as a spell check, and the query 'r e c en si on' would be extremely popular, as it contains the extremely common words 'en', 'si' and 'on' (three languages worth of high popularity!).

Maybe I can work out something more appropriate. There is an option to turn off spellcheck if the query returns >0 results, as well.

Can you send me the

[2016-01-21 23:48] ahankinson commented on #28
Is there an n-gram or edge n-gram tokenizer on that field in Solr? That might cause this.

https://cwiki.apache.org/confluence/display/solr/Tokenizers#Tokenizers-N-GramTokenizer

[2016-01-21 23:52] agpar commented on #28
No. The spell check field is a copy destination for all the language individuated text fields, and it just applies a lower case and filter factory.

There exists a [PreAnalyzed field](https://wiki.apache.org/solr/PreAnalyzedField) which would be much better here, as it would carry over the correct stop words from the languages that are being aggregated here. I had trouble getting it to work right

[2016-01-22 17:27] wabain opened #29 "HTML in search results"
It looks like HTML elements are being indexed in Solr. Not sure what the best way to handle it would be.

![screen shot 2016-01-22 at 12 24 36 pm](https://cloud.githubusercontent.com/assets/7651435/12517893/395b592a-c103-11e5-8277-a22e9b6f9ec7.png)

[2016-01-22 17:43] ahankinson commented on #29
https://docs.djangoproject.com/en/1.9/ref/utils/#django.utils.html.strip_tags

[2016-01-22 17:43] agpar commented on #29
What kind of a monster would put HTML in json?

[2016-01-22 17:45] agpar commented on #29
I think handling this at index time is the best option. Saving this here for reference.
https://wiki.apache.org/solr/AnalyzersTokenizersTokenFilters#solr.HTMLStripCharFilterFactory

[2016-01-27 04:07] agpar commented on #29
Never mind - it has to be handled before sending the document to solr.

[2016-01-27 04:09] wabain commented on #29
Why? Out of curiosity.

[2016-01-27 13:17] agpar commented on #29
The solr HTMLStripCharFilterFactory will strip the HTML from the index, and it can strip HTML from queries, but solr doesn't actually modify the stored field. I don't think it ever actually modifies the stored value - just applies filters to whats indexed.

So even with the HTML filter factory, the query 'that repository' will return the entire 'repository' field, `<a href='...'> [$]that repositor

[2016-01-27 13:31] wabain commented on #29
In that case it definitely sounds like it would be easier to strip HTML beforehand, although FWIW the really pathological case is when the match breaks the HTML, like `<[$]a[$] href="...">`. If it were guaranteed that matches would only be on text rather than within tags, as in your example, I could work with that.

[2016-01-27 14:16] agpar commented on #29
The HTMLStripCharFilterFactory would prevent the behaviour you're talking about (as only 'that repository I found it in' would be indexed, to use the above example). But, I still think for the fields that I'm matching on (like repository, attribution, label, etc.) it makes sense to strip HTML before sending it to solr.

[2016-02-05 15:50] agpar opened #30 "Front page?"
Hey Will,

I pulled master and started it up and I don't think I'm seeing anything on the landing page. Can you send me a screenshot of what it's supposed to look like?

[2016-02-05 16:20] wabain commented on #30
Did you remember to `npm run build`? Are there any errors in the console?

![screen shot 2016-02-05 at 11 18 04](https://cloud.githubusercontent.com/assets/7651435/12851885/46dcff5c-cbfa-11e5-9aa3-991aab456d4a.png)

[2016-03-01 15:01] agpar commented on #23
I think we need some fronted handling for large collections... Something like a popup or modal when we see that the collection being imported has over 25 or 50 manifests in it. We inform the user that the process will continue even if they leave the page, and we give them the url to look at the results of the import (it should be the same URL you are polling for progress information).

[2016-03-02 00:30] fujinaga commented on #23
How long are we talking about? Few seconds, minutes?
Can we not give the user something to look at?

[2016-03-02 00:41] wabain commented on #23
I believe right now we throw up a progress bar while the import is ongoing.

@lexpar is the concern here that there's no way to get information on the upload if you leave the page? That's something we can work on. I'll be in tomorrow most of the day if you'll be around.

[2016-03-02 02:02] agpar commented on #23
On my laptop, about .5 manifest/second, so half an hour for a collection with a thousand things.

There is a loading bar, as @wabain mentioned, but nothing to let you know you can leave the page and check the results later.

[2016-03-02 11:11] ahankinson commented on #23
Is this because of the latency of HTTP requests?

[2016-03-02 14:50] agpar commented on #23
The processing speed? That's probably a big part of it. Right now the validation is still happening with the IIIF validator, which actually does all the HTTP requests a second time, and appears to be quite slow. That's one of the big things to be rewritten.

[2016-03-02 16:35] agpar commented on #4
Speaking of validation, I'm looking at some of the work I did on a json schema for the IIIF presentation API, and I'm starting to wonder if I'm missing the forest for trees here.

In terms of Misirlou's goals, isn't the only difference between a valid and invalid manifest the fact that we can index and display the former but not the latter? Why should we care about how closely a manifest adheres t

[2016-03-02 20:49] wabain commented on #4
The front end is probably assuming other things as well (the existence of labels, etc.) I can't think what all they would be off-hand. Some may be quite subtle.

[2016-03-02 23:26] agpar commented on #4
We could write a validator that essentially checks our front end can pull as many pages from the manifest as it says their should be...

[2016-03-02 23:36] wabain commented on #4
The kind of thing I'm worried about is bugs where I expect a string but get a number or an array or something. I don't think we can reliably find those bugs without validating against the spec. (We could also just add a a ton of defensive code to the front end, but I think that would be less maintainable.)

[2016-03-03 03:06] wabain commented on #30
I assume this works now?

[2016-03-03 12:58] agpar commented on #4
Yeah, that makes sense.

[2016-03-03 14:39] agpar commented on #30
Yes!

[2016-03-03 14:39] #30 closed, assigned to nobody

[2016-03-09 16:24] agpar commented on #4
I've written a schema validator using a library very similar to JSON schema validation on the `new-validator` branch. It only validates manifests, but it _should_ be checking for the correct types and structure.

There might be some holes in the net now, but we'll have to start importing stuff and see.

[2016-03-09 16:24] ahankinson commented on #4
How far are we from importing stuff?

[2016-03-09 16:28] agpar commented on #4
We're where we were before this commit. It doesn't really move us in any direction, beyond no longer needing to rely on the validator supplied by the IIIF people (which was extremely large and was prompting an extra HTTP GET).

[2016-03-09 16:34] agpar commented on #4
Maybe we should close this issue and submit new issues as problems with the new validator emerge.

[2016-03-09 16:34] #4 closed, assigned to nobody

[2016-03-09 16:39] agpar opened #31 "Save copy of thumbnail locally?"
It might be good to save a low res copy of the thumbnails for documents in the database. This way, when displaying the table of thumbnails on the front_page, you don't end up waiting 10-15-20 seconds for the library to return the thumbnail.

Is this against the spirit of the project? It would be purely for a smoother user interface.

[2016-03-09 16:40] wabain commented on #4
This looks really good! Question from a quick look (which probably doesn't deserve its own issue): is `service` repeatable? It should be, right? I think the same is true of `@context`.

[2016-03-09 16:44] ahankinson commented on #31
I would do it with some sort of caching mechanism rather than in the database.

Are you really seeing long waits for these images? Most services I've seen are pretty quick.

[2016-03-09 16:48] ahankinson commented on #4
I don't think service is repeatable... can you give me an example where it might be?

[2016-03-09 16:48] wabain commented on #31
Actually, I meant to open an issue about this. The wait isn't to get the thumbnail - right now we're loading all the manifests on the front-end and then getting the thumbnails from there. Really the image URL/Image API service block is what we should be saving locally.

[2016-03-09 16:49] ahankinson commented on #31
Ah. How many manifests are you loading on the front end? (You said "All"... do you mean ALL of them??)

[2016-03-09 16:52] wabain commented on #4
The spec says that "Any resource may have one or more links to an external service." I can't think of any obvious use cases, but search + something, or physical dimensions + something seems plausible.

[2016-03-09 16:54] wabain commented on #31
Yeah, "all" definitely isn't accurate. I think it's the 12 most recent or something like that. And it might be done lazily as they're displayed, but there's still latency as the fetch is performed.

[2016-03-09 17:32] agpar commented on #31
Oh I see! Well, the thumbnails should be indexed in solr and returned with any search request. So, using those would likely give us all the speed up necessary.

It looks like I'll have to add an 'indexed' timestamp to the solr records to get the most recently indexed.

[2016-03-09 18:38] agpar commented on #23
Here's an example of the final response you'll get if you import the Yale collection. This is running on the new validator.

I would say support for importing collections is essentially implemented, except for some fronted stuff. I still think we need some type of 'this might take a while' warning, and we might want some nice way to display these results to people.

Also, the UI says the upload fa

[2016-03-09 18:45] agpar commented on #28
This is fixed on the new-validator branch.

[2016-03-09 18:45] #28 closed, assigned to nobody

[2016-03-09 18:46] #9 closed, assigned to nobody

[2016-03-09 18:47] agpar commented on #11
This has been fixed by taking the `@id` attribute of a manifest and treating that as the cannon representation of the manifests url.

[2016-03-09 18:47] #11 closed, assigned to nobody

[2016-03-09 18:48] agpar commented on #31
What I mean to say is that links to thumbnail images or text dumps of the json of an image service are being indexed in solr.

[2016-03-09 18:56] agpar commented on #31
We have automatic index timestamps in solr now. If you do an empty search and sort by `index_timestamp` descending, you can get the basic properties of the last imported manifests (including a thumbnail).

[2016-03-09 19:58] wabain commented on #23
I believe it says it failed because it can't find the link to the uploaded manifest. I'll update the front-end code probably next week.

[2016-03-09 20:16] wabain commented on #31
I think currently I take the most recently created manifests. Would it make sense to just add that to the Solr document? From what I can tell it isn't there now, but I don't have a running server to check at the moment.

[2016-03-09 20:24] wabain commented on #11
Sorry to nitpick, but what happens if a manifest gets uploaded with an `@id` that points to an existing manifest that's hosted somewhere else? I can imagine that happening if someone decided to make a local copy or something. Would the original manifest be overwritten? I don't know how much we should care about that, but maybe it's worth deduping by the hostname of the URL we're actually dereferen

[2016-03-09 20:31] agpar commented on #31
If I understand what you wrote, that's exactly what I've done.

[2016-03-09 20:37] wabain commented on #31
As I understand it, `index_timestamp` is automatically set to the time when the document was updated in Solr, whereas the `created` field on the Django model gives the time the manifest was initially imported, and doesn't change when we reindex it. Does that sound right?

[2016-03-09 20:38] agpar commented on #23
I tried to have all the manifests in a collection be imported concurrently (since CPU usage is not that high for me when I'm importing), and the speed has not increased very much.

My guess that SQLITE is a big bottleneck. Each import requires a range selection, read, and a possible delete. Currently celery is also storing its results on the database as well (so every ping of the loading bar is a

[2016-03-09 20:41] ahankinson commented on #11
Manifests shouldn't get uploaded, right? They should only be dereferenced, so they will only ever really exist at a remote location.

[2016-03-09 20:45] wabain commented on #11
Right, "uploaded" is imprecise. I guess what I worry about is the indexed description, etc. getting overwritten.

[2016-03-09 20:47] agpar commented on #23
That's just a guess though. It could be that sending results to solr is slow (that could be an async call). It could be that the validator is slow (although, my cpu usage stays low even when processing 20 manifests concurrently).  Certainly the http requests add some unavoidable time.

I'm open to ideas guys!

[2016-03-09 21:27] ahankinson commented on #23
Sqlite is horrible for anything other than development. It should be pretty easy to move to Postgres.

[2016-03-09 22:46] wabain commented on #23
Moving to Postgres sounds fine to me. Have you tried using cProfile to see what's going on? (I don't know how that interacts with Celery.)

[2016-03-09 23:16] musicus commented on #23
Using sqlite should just be verboten.

[2016-03-11 14:18] agpar commented on #23
Switching to psql gets us up to like 2 manifests/second on my laptop. :+1:

[2016-03-11 14:45] agpar commented on #31
Yes that's correct Will. I don't see it as being an important distinction for this use case (deciding which thumbnails to display).

Maybe it could be in the long run though... I can index the created in DB date.

[2016-03-11 14:52] ahankinson commented on #23
I suspect most of that is the HTTP request overhead.

[2016-03-11 16:50] agpar commented on #23
Yes I think so. I just pushed some concurrency stuff for celery now, so it should be able to make 20 concurrent http requests while importing a collection. It seems to have sped things up quite a lot.

[2016-03-11 17:00] ahankinson commented on #23
There's currently a discussion on the IIIF mailing list about the impact of concurrent collection harvesting. What collections are you hitting?

[2016-03-11 17:06] agpar commented on #23
I've been testing using http://manifests.ydc2.yale.edu/manifest

[2016-03-11 17:13] agpar commented on #23
Right now we're not doing any automated harvesting... We just grab all the manifests in a collection, and any manifests in sub collections. It's a downward process that never tries to branch out sideways.

I suppose we should be ramping up to the point where we can more intelligently crawl a library for manifests. Any thoughts?

[2016-03-11 17:46] agpar opened #32 "Storing manifests in Solr"
@ahankinson, at some point during development we brought up the idea of saving a dump of the entire manifest in solr, as a stored but not indexed field. I can't remember the justification for that now, and I'm itching to remove it.

Is there something I'm forgetting? I don't see the usefulness. Maybe it was that we were worried about the manifest at a URI changing and us not knowing... But, I thin

[2016-03-11 18:43] ahankinson commented on #32
We need the manifest to show the Diva view, and thought this would be quicker than resolving it and would bypass some same origin weirdnesses.

[2016-03-12 21:01] wabain commented on #7
b30c4775b1cbb3b77e97825dbf4721b4866924ce makes this moot.

[2016-03-12 21:01] #7 closed, assigned to nobody

[2016-03-14 16:30] wabain opened #33 "Move front-end bundling from JSPM to Webpack"
Currently, we use JSPM as a package manager and bundler for client-side code. Unfortunately, JSPM forces a very slow development workflow (which the developer indicates isn't going to change anytime soon) as well as various tooling woes. I still haven't gotten it to work with Karma, for instance.

Meanwhile, npm has released new features which make it much easier to use it as the package manager f

[2016-03-14 17:07] ahankinson commented on #33
_sigh_ JavaScript tooling sucks. I'm inclined to agree with you. I've played around with webpack and find it adequate, so I say go for it.

[2016-03-16 16:16] agpar opened #34 "Collection importing is *too* concurrent."
I'm worried that the way things are set up now, the importer is getting a little too close to being a nuisance for libraries... Since a collection import prompts 20 threads to start pulling data and importing, it is making at least 1 (and likely several) bursts of http requests to the same host on the order of 20/second.

I'll have to break the import task into discrete steps in order to avoid thi

[2016-03-16 16:23] ahankinson commented on #34
Is there any way of dividing them up by host? As in, if you've got a bunch to harvest from `http://example.com` and 'http://foo.com` that you can run those in parallel, but rate limit for each host.

I'm currently drafting an e-mail to the IIIF community to get some feedback on this.

[2016-03-16 16:32] agpar commented on #34
That's what I'm hoping to do... The top level import task will look around for running `get_remote_resources` tasks, which will expose the netloc of where it is pulling resources from. If it finds one that is already pulling from a netloc, it will wait to set up its own `get_remote_resources` task. Something like that.

[2016-03-16 16:34] ahankinson commented on #34
Is there a queueing system you can use? Then you could pre-sort the hosts into buckets.

But really I wonder if this is useful... If you're importing a collection, you're presumably also importing manifests all from the same host. So this would really only be useful if you're importing many collections from many libraries simultaneously...

[2016-03-16 16:43] agpar commented on #34
That's a good point. We can either:
1. Not care about the netlocs. Every `collection-import` task can make `x` http requests per second to whatever host it is pointed at.
2. Not care about netlocs. There is a site-wide limit on how many http requests can be made per second.
3. Care about netlocs. Every netloc can have `x` requests made against it per second.

With 1 we risk going over our planned

[2016-03-16 20:08] agpar commented on #34
I read your message on the IIIF group @ahankinson... I'm going to feel pretty sad about all the work I put into parallelising the importing if everyone starts putting 5-sec web crawl delays on their libraries :sob:

[2016-03-16 21:03] agpar commented on #32
Hmmm... It might be quicker to store manifests in PostgreSQL than solr, even then, it probably wouldn't be very quick. I have about 1600 manifests on my laptop now, and an empty query to get full records takes a few seconds to complete on solr. Then again, Will isn't using solr to fetch manifests now, so maybe it's fine to not store them at all.

[2016-03-16 21:20] ahankinson commented on #34
Five per second. :)

[2016-03-16 21:21] ahankinson commented on #32
That's very very strange. Is it taking this long to complete the query, or to render the result in your browser?

[2016-03-16 21:40] wabain commented on #32
Is that for all 1600 manifests?

[2016-04-06 20:01] wabain opened #35 "Support `members` property in collections"
Version 2.1 of the Presentation API will introduce a [`members` property](http://iiif.io/api/presentation/2.1/#collection) for listing the elements subcollections and manifests in a collection. This should be checked in the collection import script. I think this is the only change Misirlou will need for 2.1.

[2016-04-11 17:01] agpar commented on #35
They are going to depreciate the `manifests` and `collections` keys? How are libraries supposed to keep up with these kinds of changes?

[2016-04-11 17:03] ahankinson commented on #35
It's complete madness! Madness, I tell you! :)

Libraries employ stacks of devs to keep up with these things.

[2016-04-11 17:07] agpar commented on #35
Just saying... It's a big change to implement on the third major revision of the API. They must be taking inspiration from Python.

[2016-04-11 17:30] ahankinson commented on #35
It's not actually that big, and it's only being deprecated in 2.1, not removed. It will be removed in 3.0.

[2016-04-11 17:32] wabain commented on #35
The migration path also seems really straightforward. Just add a viewing hint of individuals to each of the collections and then concatenate collections and manifests.

[2016-04-13 13:36] agpar commented on #34
Closing, as master contains code to limit requests to 3/sec/collection (which seems to be plenty fast).

[2016-04-13 13:36] #34 closed, assigned to nobody

[2016-04-13 14:12] agpar commented on #32
I'm guessing it's actually mostly the rendering time. And Will, that would be for a page with 10 manifests printed out on it.

Should I add an endpoint to get the stored manifest? I already whipped up a solr request handler that turns `id`s into manifests. What would be an appropriate endpoint for this? `/manifest/${id}/?retrieve=true`, or something like that?

[2016-04-13 14:17] agpar commented on #23
I would say collection importing is supported at this point. When we start doing more web-crawl-y stuff, we can open more issues.

[2016-04-13 14:17] #23 closed, assigned to nobody

[2016-04-13 14:31] agpar commented on #4
Sorry I missed this @wabain. I don't know if `services` were repeatable when you asked this, but they certainly are now.

[code]

[2016-04-29 13:23] ahankinson opened #36 "Sources to harvest"
This spreadsheet contains a lot of potentially interesting and useful manifests.

https://docs.google.com/spreadsheets/d/1apQKFkfBV89BvycaBPN6v-LjeaKaVVMaMUsY6L4KRJo/edit#gid=0

For example:

http://www.digitale-sammlungen.de/mirador/rep/bsb00046459/index.html#93c74c60-9efc-48ee-bc5c-d66ff149ca41

contains some music, and should be indexed.

Just posting this here for future use.

[2016-05-02 14:09] agpar commented on #36
Adding an email you forwarded me from the library of Wales.

First email:

Second email:

[2016-05-04 14:20] agpar opened #37 "Set up musiclibs.net and dev.musiclibs.net"
Misirlou needs to be deployed on a live site by the end of May so that the process of importing many manifests can begin. This issue will keep track this goal, as there are multiple steps necessary.
- [x] Set up compute canada server for site. 2 cores, 16gb ram, 3TB index volume.
- [x] Figure out https configuration with LetsEncrypt.
- [x] Host dev site using nginx and gunicorn with ssl encryption

[2016-05-04 14:27] agpar opened #38 "Indexing OMR data."
Currently we have nothing in place to index OMR data associated with a manifest.

I think @ahankinson and I should discuss how this is accomplished and organized in the LiberUsalis and Salzinnes OMR search systems. I need some idea of how these indexes are represented on these systems in order to implement a system where we can easily port over this data.

Implementing this feature is necessary fo

[2016-05-04 14:30] agpar commented on #35
I put a question on the IIIF discus group regarding how we should distinguish between different versions of the API, as there currently seems to be no way to do so, and this deficiency makes it much more difficult to modularise the validation/import process. This issue motivated the question.

https://groups.google.com/forum/#!topic/iiif-discuss/wQwUjyll_-4

[2016-05-04 17:38] wabain commented on #35
What validations actually depend on 2.0 vs 2.1? My understanding was that the specs use semantic versioning, so an object conforms to the Presentation API version 2 iff it conforms to the latest 2.x spec.

[2016-05-04 17:48] agpar commented on #35
This `members` key did not exist in the 2.0 API, but _can_ replace two of the 2.0 keys in a 2.1 manifest. So, while it's not a mandatory incompatibility, it is version dependent feature which would be much easier to check for if we actually knew which version of the API the document was attempting to comply with.

Like I wrote in the linked post, I'm not sure if knowing what version of the API a d

[2016-05-04 19:41] agpar commented on #38
@ahankinson I'm thinking of essentially copying the [schema of the liber](https://github.com/DDMAL/liberusualis/blob/master/solr/src/main/resources/schema.xml) into a separate core in solr, with the addition of a `document_id` indexed field for distinguishing between the OMR results of different documents.

It seems much simpler to keep the schema for manifest metadata separate from the schema for

[2016-05-04 21:19] ahankinson commented on #38
Yes, I would be happy to run you through it, and searching on separate Solr cores sounds like a good plan.

[2016-05-05 08:58] ahankinson commented on #37
If you can send me the IP addresses you'll be using I can set up the DNS for musiclibs

[2016-05-05 17:36] #6 closed, assigned to wabain

[2016-05-05 17:36] #33 closed, assigned to nobody

[2016-05-07 02:12] ahankinson opened #39 "Show source library in search results list"
It would be great to show the source library in the search results list (I know it's in the Diva view). It just makes it clearer that we're searching the manifests across library collections.

[2016-05-07 02:18] ahankinson opened #40 "Rebranding"
Misirlou -> Musiclibs

Maybe we need an actual logo?

[2016-05-07 02:32] wabain commented on #39
No problem!
On May 6, 2016 10:12 PM, "Andrew Hankinson" notifications@github.com
wrote:

[2016-05-07 02:43] musicus commented on #40
Yes.

[2016-05-07 02:43] ahankinson commented on #40
Great! A volunteer. :)

[2016-05-07 20:43] #20 closed, assigned to nobody

[2016-05-09 12:52] agpar opened #41 "Mixed Content errors over AJAX."
I have celery up and running now, and tried importing a manifest on the live server. We get a number of Mixed Content errors regarding making requests to http endpoints from our https site. We even get one for polling our own server using http!

So, this raises a number of pretty thorny issues. Maybe it is best to only retrieve manifests through solr, as our project's basic function will be depend

[2016-05-09 12:57] ahankinson commented on #41
All of the requests to our own server should be over https.

Caching external manifests sounds like a good thing to do; we can periodically poll and checksum to see if they've changed and update them.

[2016-05-09 14:20] agpar commented on #41
I think @wabain will have an easy time fixing this. It should only be a few changes to requests on the frontend.

[2016-05-09 14:36] wabain commented on #40
Related, we need a favicon.

[2016-05-10 13:07] agpar opened #42 "API changes to integrate into frontend."
On `dev` branch, you should be aware of the following changes to the API which break current functionality (for the long-term better, I hope).
1. The `/manifests/[pk]` endpoint will now retrieve the json of the requested manifest from Solr and return it. This breaks the Diva viewer; I believe you are expecting a single `remote_url` key which you go after. Now the manifest will be in the place of t

[2016-05-10 13:26] wabain commented on #42
Are we making `dev` our working branch now that we're working on deployment?

On Tue, May 10, 2016, 9:07 AM Alex Parmentier notifications@github.com
wrote:

[2016-05-10 13:30] agpar commented on #42
We should do that in the very near future. The goal is to have a reasonably stable master branch by the end of the month. I merged master into dev today, so once this issue is closed, we can start working primarily on dev.

[2016-05-10 14:16] agpar opened #43 "User accounts."
We spoke briefly the other day about adding user authentication to the site. I can't think of any reasonable way to expose `/manifests/import` to the public without it being used poorly. Therefore, the main feature of the user accounts will be to control who has the right to import new manifests onto the site.

It may make sense to offer more control over the site content to the users (deleting, r

[2016-05-10 20:16] agpar commented on #41
a538d0d852b86860d80f62f7bd68e76b4e031484 fixes the problem of django returning `http` urls when using `reverse()`. 767b3cf80b717158e80411424e37625930d56163 makes it possible to retrieve indexed manifests from our own server. We should be in a better position to tackle these problems now.

[2016-05-11 18:48] agpar commented on #43
Django auth is already included in the project. I put up some endpoints at `/api/login` and `/api/logout` that can be posted to in the way you would expect to support logging in and out (8f61007777354c4382a264373119ebdb55e5812f). I chose these urls so `/login` and `/logout` can be fancy pages that just send ajax requests to these endpoints. I think this makes sense, but I'm extremely tired.

Shoul

[2016-05-11 19:40] ahankinson commented on #43
Yes. Make accounts for me and you. Eventually we might want to get others in the lab to help upload stuff.

[2016-05-11 20:07] wabain commented on #43
I think the API endpoints can just be `/login` and `/logout` too. Content negotiation FTW.

[2016-05-11 20:24] ahankinson commented on #40
As part of this: I would like to rename the repo. Any objections?

[2016-05-11 20:42] wabain commented on #40
Sounds good to me. I assume issues get migrated.

[2016-05-12 12:27] agpar commented on #35
Should be handled here 026c0cc03e16e4c1fa220c7aecf665d4a3175010.

[2016-05-12 12:27] #35 closed, assigned to nobody

[2016-05-12 13:39] agpar commented on #42
@wabain I have updated this issue with some more information.

[2016-05-12 13:49] agpar commented on #32
We will definitely continue to do this. Storing manifests in solr speeds up their retrieval and ensures we can display data about the manifest without mixed-content issues.

[2016-05-12 13:49] #32 closed, assigned to nobody

[2016-05-12 13:50] agpar commented on #31
A manifest's thumbnail data is now indexed in solr, and returned in any search request. We may investigate caching image data in the future, but that may be overkill.

[2016-05-12 13:50] #31 closed, assigned to nobody

[2016-05-13 15:37] #25 closed, assigned to nobody

[2016-05-16 15:42] ahankinson opened #44 "Server returns a 500 error on AJAX request to recent manifests"
n/t

[2016-05-16 15:56] ahankinson commented on #40
Reassigning to @wabain for the front-end work.
- `<title>` tag still says Misirlou
- Front-page still says misirlou

[2016-05-16 15:58] ahankinson opened #45 "Only show uploads button for logged-in users"
Since we're moving uploads behind a login, we should only show it for logged-in users. It can also be in the footer or somewhere.

If that's gone then I don't think we need the menu bar at the top anymore.

[2016-05-16 16:01] ahankinson opened #46 "Implement gzip on server"
gzip compression can probably help us send stuff over the wire. This should be implemented on the nginx deployment.

[2016-05-16 16:13] ahankinson opened #47 "Add live stats on front page"
Something like "Search XXX sources from YYY libraries" under the search bar.

[2016-05-16 16:30] ahankinson commented on #40
![m](https://cloud.githubusercontent.com/assets/163183/15296151/f5023942-1b61-11e6-850d-f5c50269022e.png)

[2016-05-16 16:30] ahankinson commented on #40
Thoughts?

[2016-05-16 16:57] musicus commented on #40
No _L_?

[2016-05-16 17:04] ahankinson commented on #40
🎄  😄

[2016-05-16 18:51] agpar commented on #44
n/t?

~~This issue is a direct consequence of #42.~~
OH a 500. Huh.

[2016-05-16 18:55] ahankinson commented on #44
No text.

[2016-05-16 18:58] agpar commented on #44
Fixed. Forgot to apply migrations on production database.

[2016-05-16 18:58] #44 closed, assigned to nobody

[2016-05-16 19:00] agpar commented on #47
What do you mean by `sources` here? Manifests? Manifests makes sense if this line is in reference to the yet-to-be-implemented ocr indexing and search.

[2016-05-16 19:16] agpar commented on #46
Should be implemented now. About 1/5 size scalar for the main.js file (sweet).

[2016-05-16 19:16] #46 closed, assigned to agpar

[2016-05-16 19:17] ahankinson commented on #47
Not many people would know 'manifests.' Maybe we could just say 'searching YYY libraries' or something.

[2016-05-16 19:18] agpar commented on #40
What on earth does tree-smile mean?

I think that looks pretty sharp! I like red as a highlight color too (even if I made a joke about Halloween earlier).

[2016-05-16 20:53] ahankinson opened #48 "Remove 'recently uploaded' section from search results page."
The recently uploaded section should only really appear on the front page.

[2016-05-16 21:03] wabain commented on #48
So I'm sure I understand this right, is this a change from #25 where you said to have "the results list 'push' the manifest lists down, and then 'slide' up when the search input is cleared"?

[2016-05-16 21:05] ahankinson commented on #48
Yeah, I guess I didn't quite understand what I was saying...

[2016-05-16 21:05] ahankinson commented on #48
does that screw anything up?

[2016-05-16 21:07] wabain commented on #48
No, it's probably as simple as a adding an `if` somewhere.

[2016-05-16 21:08] ahankinson commented on #48
`if q`?

[2016-05-17 12:08] agpar commented on #48
`if (q !== undefined && q !== null)` if you don't understand js and want to be safe (like me).

[2016-05-17 13:48] wabain commented on #48
I think you'd also need `q !== ''`.

[2016-05-17 14:19] agpar opened #49 "Admin interface."
Should enable browsing and importing manifests via the admin interface.

[2016-05-17 14:20] agpar commented on #47
There's a `/stats/` endpoint on dev now to get the numbers needed for this.

[2016-05-17 19:05] agpar commented on #49
Added ability to view and delete manifests in the admin interface on c69a978.

[2016-05-17 19:05] #49 closed, assigned to agpar

[2016-05-17 19:18] agpar commented on #41
I added a `/images/` endpoint on dev to proxy insecure images (27d9dda4b8a38afe626146ed74b67cd4014010a7). We can get the manifests from our own server, then proxy through the images if their certs are out of date or non-existent. `/images/?img=[URL]` will just get you the image at the URL. I threw this together rather quickly, with the thought that mixed content blocks on images could be an issue.

[2016-05-17 19:32] wabain commented on #41
I'm hesitant about this. To start, we may not absolutely need CORS for images; it's possible to display non-CORS images, we just can't pull data from a canvas after a non-CORS image is drawn to it.

[2016-05-18 00:12] #42 closed, assigned to nobody

[2016-05-18 00:13] agpar commented on #42
https://www.youtube.com/watch?v=3GwjfUFyY6M

[2016-05-18 00:37] agpar opened #50 "Feedback on remote server failure."
Right now there is no feedback when a failure is due to being unable to fetch resources from a remote server.

For instance, at this exact moment, https://dev.musiclibs.net/manifests/a324861f-05e7-41cd-9bc6-46a96817f3d3/ displays an empty diva window.

This is possibly because all the images in this manifest are returning a small json error message:

[code]

I think we should have some mechanism t

[2016-05-18 00:40] wabain commented on #50
Is this a Diva issue?

[2016-05-18 00:41] agpar commented on #50
It could be! I think it's up to you whether you want to treat this as a more generalizable issue.

[2016-05-18 00:44] agpar commented on #50
Is Diva supposed to be doing anything when it can't fetch a resource?

[2016-05-18 01:01] wabain commented on #50
It could do. Were you thinking that this is applicable to other things in Musiclibs?

[2016-05-18 01:05] agpar commented on #50
No, I think you're right that it's a diva issue. If you diva viewer could put up some warning when it couldn't retrieve resources, that would be great.

[2016-05-18 01:06] agpar opened #51 "Searching working on dev?"
Is searching working for you on dev now @wabain? On my end, the suggestoins work, but once I enter a query that should have some results, the site crashes and I get `Uncaught (in promise) TypeError: t.label.join is not a function(…)`.

Related to `label` no longer being a list?

[2016-05-18 01:34] wabain commented on #51
Yeah, just fixed it.

[2016-05-18 01:34] #51 closed, assigned to nobody

[2016-05-18 01:37] #50 closed, assigned to nobody

[2016-05-18 01:37] #21 closed, assigned to nobody

[2016-05-18 12:08] agpar opened #52 "Thumbnail resolution."
On the main page, it looks like the thumbnails being loaded are in native resolution. If a thumbnail is provided as part of a IIIF image service, you should request a lower resolution to be displayed as a thumbnail.

[2016-05-18 14:52] #39 closed, assigned to nobody

[2016-05-18 18:22] ahankinson opened #53 "Link to original record"
If there is a 'seeAlso' link, it should be used to link back to the manuscript's record on the original website. (Can we make an exception for e-codices, which uses 'see_also')

[2016-05-18 18:24] wabain commented on #53
Must have missed this somehow.

[2016-05-18 19:07] #1 closed, assigned to nobody

[2016-05-18 19:18] wabain commented on #43
Is this just waiting on client-side support, or are there other blockers?

[2016-05-18 19:32] agpar commented on #43
As far as I can tell, waiting on client side.

It's not an urgent issue. In the short term, giving admit accounts to a few people around the lab and instructing them to use the admin interface to log in/out is a workable solution.

[2016-05-18 20:22] wabain commented on #53
I actually had this implemented already (except for the see_also special case) but I put it at the bottom of the metadata view under the heading "Additional data". The spec describes the linked resource as "a machine readable document that semantically describes the resource with the seeAlso property, such as an XML or RDF description."

Should I give the field more prominence on the basis that th

[2016-05-18 21:19] ahankinson commented on #53
Yeah, since the point of the site is to lead people to the libraries where the sources are held.

[2016-05-18 22:18] wabain commented on #53
But should that be done via seeAlso? I can't think where offhand, but I'm pretty sure there are sites using seeAlso to link to a Turtle file or something.

[2016-05-18 22:29] wabain opened #54 "Handling of errors on initial manifest import request"
As of 722a26f97127718dbbf1d61a7b3f0c010f43f507 the manifest upload process synchronously dereferences the URL posted for upload and responds to a failure to get URLs by returning a 200 with a body like:

[code]

This is roughly the format of the responses from the /status endpoint, but it's different from the response an upload request gets if URLs were located, which uses `status` for a different

[2016-05-18 23:44] agpar commented on #54
Agree 100%, will implement this tomorrow afternoon.

[2016-05-19 17:21] agpar commented on #52
Never mind, this is just another problem of the poorly formatted manifests.

[2016-05-19 17:21] #52 closed, assigned to nobody

[2016-05-19 17:37] wabain commented on #48
Should I keep "Recently uploaded" for searches with no results?

[2016-05-19 18:00] wabain commented on #53
So after our discussion yesterday I guess I'll give extra prominence to the `related` property.

[2016-05-19 18:00] wabain commented on #53
Also `rendering`.

[2016-05-24 11:59] agpar commented on #54
Fixed in 76d119e09365248cb44a5fbaea53a0d6bc6dcbfc

[2016-05-24 11:59] #54 closed, assigned to agpar

[2016-05-25 12:54] agpar commented on #29
@wabain mentioned the other day that it would actually be better to strip HTML from the stored documents. I have something working on a local branch, but right now it's just hitting every text value in a manifest and attempting to strip html from it. This seems likely to be bad.

Is html stripping only necessary on descriptive/metadata fields? That would narrow things down nicely.

[2016-05-25 17:00] wabain commented on #29
To clarify, I only meant that HTML should be stripped from search results - it should still be included in the full manifest. So the relevant ones should be (I think) label, description, attribution, hits. The IIIF spec says that HTML is only allowed in description, attribution, metadata. I can't remember if people tend to honour that.

[2016-05-25 18:12] agpar commented on #29
So, you want the `label` in your search result to be html stripped, but the `label` in the full manifest which solr stores to not have html stripped?

[2016-05-25 18:16] wabain commented on #29
Yes. Although I guess I can do it on the front end easily enough if that's a problem.

[2016-05-25 18:23] agpar commented on #29
Thats no problem. I just have to move a few lines around.

[2016-05-25 18:28] agpar commented on #29
I've tested the changes on 4e295303b9afd5ed143c2bd9f75028a5b1fb95e6 with the manifest you linked me, and everything seems to be in in order.

[2016-05-25 18:28] #29 closed, assigned to nobody

[2016-05-30 12:05] ahankinson opened #56 "Musiclibs celery task is FATAL"
On reboot supervisor doesn't bring up the dev_celeryd task. The error message is `celery.platforms.LockFailed: [Errno 2] No such file or directory: '/run/celery/dev_musiclibs.pid'`

Creating /run/celery and chmod 777 on /run/celery seems to fix it, but this probably won't persist across reboots. Another solution should be found.

[2016-05-30 12:21] agpar commented on #56
Celery pid files are stored in /srv/webapps/musiclibs/config now. Tested with a reboot and issue is cleared up.

[2016-05-30 12:21] #56 closed, assigned to agpar

[2016-05-30 14:26] agpar commented on #47
I've put some stats under the search bar on `dev`.

[2016-06-02 23:55] wabain commented on #40
Shouldn't have closed this (via comment on my commit). There's still the logo and other things.

[2016-06-06 18:48] #48 closed, assigned to wabain

[2016-06-06 19:11] wabain commented on #45
A few weeks ago I experimented with a navbar which integrated the page title, like on Cantus Ultimus. I don't know if it's the direction I'd go if I were doing it for real and @jeromepl has already changed some of the relevant code, but I'm pushing my WIP to the branch wip-navbar-change-concept.

I think that a change like that, plus hiding the menu bar on the landing page where the Musiclibs titl

[2016-06-06 20:55] ahankinson commented on #45
I like it!

[2016-06-06 21:24] jeromepl opened #57 "Adjust the Metadata scrollbar position"
The scrollbar is currently inside a div in the metadata panel in order to fix a bug in Firefox where the scrollbar would not appear. This should be only a temporary fix for this issue.
@wabain suggested to remove the bootstrap components as they introduce floating layouts which could very likely be the source of this issue.

[2016-06-07 13:03] jeromepl commented on #45
Following a discussion me and @ahankinson had, it would be really nice to have a a single page application where the search bar along with the search results would move to the left when a search result is clicked. The current "Manifest" page could then slide in from the right and take approximately 60-70% of the page. The search bar could be above everything, like how Google does it.

[2016-06-07 16:06] agpar opened #58 "Small or XS page layout."
The page layout on the manifest detail page doesn't make much sense once the page width gets small. It looks like the Diva viewer gets about 2/12 of the page. This should be balanced out.

Here's what I mean.
http://i.imgur.com/MLQBFjY.png

[2016-06-08 19:14] agpar opened #59 "Search bar that can divide into two parts."
The search bar on the front page should be able to be divided into two search bars, one for text search and one for pitch string search. We were imagining that the page could start with the full width text search bar, then a button could be used to shrink it to half width and draw another search bar in the remaining space. The second search bar would be used for pitch searches.

This is not a very

[2016-06-09 13:05] agpar opened #60 "OMR search spec."
I'd like to save a text representation of how I understood my discussion with @ahankinson yesterday about OMR search, so we can make sure we are on the same page and I implement towards an agreed spec.

The search feature will have two distinct modes of operation: a default search which searches for manifests using their metadata, and an advanced 'combined' search which AND's together a metadata s

[2016-06-09 13:07] ahankinson commented on #59
I think this basically describes it. A 'search music' link to the top right of the text input would open a second search box to the right where a user can input pitch names.

Example search:  (form: "text search box | music search box")

[code]

[2016-06-09 13:22] ahankinson opened #61 "Single-page view for searching and results"
I thought this had made it here, but I guess not. This is a conversation I had with @jeromepl a few days ago.

**EDIT:** It was a comment on #45

We should move to a 'single page' feel for the application. The motivation for this is to make it act more like a search engine. We should 'slide in' a view of the book from the right when a search result is clicked, instead of completely changing the vi

[2016-06-09 13:40] ahankinson opened #62 "Import manifests in preparation for presentations"
For our presentations, I would like to have a couple hundred IIIF manifests imported and searchable, including Salzinnes and Liber, available on musiclibs.net (production).

I can ask someone else to help find and import IIIF urls, but would like some advice on the best course of action for this. Is it possible to do a bulk upload from a file? A plain text file with one manifest URL per line? I kn

[2016-06-09 13:49] agpar commented on #61
In the list of results you want images from the IIIF documents of the regions that matched the pitch string?

[2016-06-09 13:52] ahankinson commented on #61
I think this is TBD. I like the idea of showing the IIIF document regions as the search results since it shows, directly, where we think the pitch results are. But how we integrate and place them on the page, and whether that is feasible, is an open question.

[2016-06-09 13:55] agpar commented on #61
It is definitely feasible to get those results in a search. What I am implementing now is a two step search: a first step that finds all document metadata for the documents which contain the requested pitch sequence (done via a join between the metadata and omr core). The second step is to find up to 4 regions (in paged order) from each of the documents which contain that pitch sequence.

The end

[2016-06-09 13:58] ahankinson commented on #61
So. cool. I can't wait to see this. 🎉

[2016-06-09 14:34] agpar commented on #47
This is done on dev.

[2016-06-09 14:34] #47 closed, assigned to agpar

[2016-06-09 14:37] agpar commented on #60
As mentioned in #61, the 'combined' search mode will actually display a small number of regions from the IIIF images which contain the pitch substring we have matched. These regions should be links to open the full document viewer, which will be focused on the page with the region that was clicked.

[2016-06-09 14:45] agpar commented on #62
I implemented bulk uploading from files very quickly a little while ago as a management command, and it eventually made its way [onto dev](https://github.com/DDMAL/musiclibs/blob/dev/misirlou/management/commands/bulk_import.py). I say quickly because line 29 looks pretty silly to me right now. In any case, a few tweaks should bring it up to snuff.

I don't think uploading manifests now would chang

[2016-06-09 14:51] ahankinson commented on #62
Ok, I'll get on this.

[2016-06-09 18:40] agpar commented on #62
Should I bring master up to dev before you start on this?

[2016-06-10 18:10] agpar opened #63 "Admin commands are synchronous."
The admin acitons to re index or run tests on particular manifests are done synchronously. This is clearly a problem when any large-ish amount of manifests are selected to be reprocessed. They should be mad asynchronous using celery.

[2016-06-10 20:14] jeromepl opened #64 "Removing characters too fast won't clear the search bar"
The first character of the search query reappears if the last 2 characters where removed fast using the backspace button. For example, if searching "sa" then pressing backspace twice fast enough, the 's' will first disappear then reappear after a very short period of time.

[2016-06-10 20:15] wabain commented on #64
See also #27.

[2016-06-10 21:03] ahankinson commented on #53
@lexpar was this fixed in your commit? Can this be closed?

[2016-06-10 21:07] agpar commented on #53
I think that's one of Will's commits I merged in. On [this e-codicies manifest](https://dev.musiclibs.net/manifests/862fa6ae-80ef-41c4-a608-c4df397c7a34/) the `see_also` key is rendered as the Additional Data link, so yes, this appears to be fixed.

[2016-06-10 21:09] #53 closed, assigned to nobody

[2016-06-11 19:29] ahankinson opened #65 "permit empty strings for 'seeAlso' to pass the validator."
See: http://digi.vatlib.it/iiif/MSS_Arch.Cap.S.Pietro.B.78/manifest.json

[2016-06-13 19:03] #65 closed, assigned to agpar

[2016-06-14 16:34] ahankinson opened #66 "Add 'about' section to a footer at the bottom of the screen"
The footer should have:
- 3 small logos: DDMAL, SIMSSA, SSHRC
- A link to the source code on github (could be with the octocat logo)
- A link to the SIMSSA twitter (could be with the twitter logo)
- A link to the SIMSSA site (https:/simssa.ca)
- A link to an 'about' page

[2016-06-14 16:35] ahankinson opened #67 "Add an 'about' page"
The 'about' page should have a simple introduction to the project (written by Andrew)

[2016-06-14 17:05] ahankinson opened #68 "Page number updates really quickly"
In certain circumstances the Diva page number will update very quickly when using a touchpad to scroll through pages.

We're unsure whether this is a Diva or musiclibs issue; likely Diva, but filing here because we can see it happening on musiclibs.

[2016-06-14 17:45] ahankinson opened #69 "Extract IIIF Validator"
Would it be feasible to extract the IIIF Validator out to its own component? It may be useful to others...

[2016-06-14 19:24] agpar commented on #69
Yes. It's pretty much already it's own component. It only has 1 dependency (the python library voluptuous).

Right now it's incomplete - it only checks the syntax of the technical information, metadata, and sequences. So there are a few components that it won't even look at if they appear, since Diva doesn't use them.

I'd want to re factor it and make it easier to customize its behaviour before w

[2016-06-14 19:26] agpar commented on #37
The site is up. I would say that master is stable enough that we can call this done. Still heavy development, but we're basically ready to go.

[2016-06-14 19:26] #37 closed, assigned to nobody

[2016-06-14 19:27] agpar commented on #38
The cross core search has been implemented and is working for the salzinnes manifest. All that remains it to import the other manifests needed for the july deadline.

[2016-06-14 19:27] #38 closed, assigned to nobody

[2016-06-14 19:54] jeromepl commented on #66
Where can I find logos for DDMAL, SIMSSA and SSHRC?

Also, here are links to the github and twitter logo pages, which contain rules on how to use them:
- [https://github.com/logos](https://github.com/logos)
- [https://about.twitter.com/company/brand-assets](https://about.twitter.com/company/brand-assets)

[2016-06-14 19:59] belljustin commented on #66
http://ddmal.music.mcgill.ca/logos

[2016-06-14 20:03] jeromepl commented on #66
http://www.sshrc-crsh.gc.ca/about-au_sujet/sshrc-logo-crsh/index-eng.aspx

[2016-06-15 00:08] ahankinson opened #70 "Let's Encrypt auto-renew?"
Is the auto-renewal for let's encrypt certificates turned on?

[2016-06-15 00:27] agpar commented on #70
There should be a cron job that runs every week to try and renew the certs.

[2016-06-15 00:40] agpar commented on #70
/srv/webapps/musiclibs/logs/ssl_renew shows that the cert renewal was attempted on Monday (correct cron time) and exited when no cert needed renewal.

[2016-06-15 00:40] #70 closed, assigned to agpar

[2016-06-15 00:44] agpar commented on #70
https://community.letsencrypt.org/t/email-address-disclosures-june-11-2016/17025

I got one of these emails. Inspires confidence!

[2016-06-15 14:32] agpar commented on #43
We can handle logging in and out via the admin interface, and as of 3a542408ecd9f015c10262541ed51634f3a6be14 the frontend will properly send in the tokens for an upload. This is basically ready to go.

[2016-06-15 14:32] #43 closed, assigned to nobody

[2016-06-15 15:56] ahankinson opened #71 "Vatican source gives errors"
https://dev.musiclibs.net/manifests/6d63bbb6-61ae-4bec-9fff-eea999a01a74

I'm seeing "ERR_BLOCKED_BY_CLIENT" for the images in Chrome. Safari seems to load it OK.

[2016-06-15 16:25] agpar commented on #71
Could it be caused by your ad-blocking plugin? I disabled mine and now it seems to work. I wonder why this stopped working overnight.

[2016-06-15 16:34] ahankinson commented on #71
Bleh. It's because this manifest generates an ID with '-AD2_' in the URL, which AdBlock Plus automatically blocks.

[2016-06-15 16:38] agpar commented on #71
#justVaticanThings

[2016-06-15 16:40] ahankinson commented on #71
[code]

[2016-06-15 16:41] agpar commented on #71
It might make sense to make this a diva issue. If an ERR_BLOCKED_BY_CLIENT shows up when requesting an image, we could pop-up in a warning about client side plugins possibly blocking things.

Then again, this case is pretty far on the edge.

[2016-06-17 03:47] ahankinson opened #73 "Change 'related material' to 'view on library website'"
The 'Related material' link on manuscript records should be changed to say 'View on library website.' This makes it clear that the link will take you back to the library's record.

[2016-06-17 03:48] ahankinson commented on #71
I'll close this. I think it's been addressed, as far as it can be.

[2016-06-17 03:48] #71 closed, assigned to agpar

[2016-06-17 03:55] ahankinson opened #74 "Thumbnail images don't seem to be constrained"
To Reproduce:
Go to dev.musiclibs.net
Search 'flowers'

The thumbnail image for the first result seems to take up the whole page!

[2016-06-17 04:36] musicus commented on #74
(zucchini - hahaha)

[2016-06-17 12:41] agpar commented on #74
This can be fixed by just mandating that all search result thumbnails be 150x100. Would there be any downside to hard coding that [here?](https://github.com/DDMAL/musiclibs/blob/master/misirlou/frontend/js/components/search/result-item/thumbnail.js#L30) (Asking the frontend guys)

[2016-06-17 12:42] agpar commented on #74
(the problem is that sometimes a library provides a url for a thumbnail, other times a IIIF image service. We scale properly for IIIF, but not for raw images)

[2016-06-17 12:43] ahankinson commented on #74
Ah, thanks for that clarification. Yeah, I suppose we need to constrain it on the image tag then.

[2016-06-17 13:02] agpar commented on #74
We could _always_ ignore a thumbnail if it's a string, and instead grab some image from the middle of the manifest.

[2016-06-17 13:14] agpar commented on #73
It doesn't always, though. This link is just whatever is in the `related` key on the manifest... Which can be pretty much anything. For instance, the `related` key on the Liber manifest links to the [the page explaining what we've done with the liber](http://ddmal.music.mcgill.ca/research/omr/Search_the_Liber_Usualis). The API says this link can be any external resource related to the document.

[2016-06-17 13:16] agpar commented on #41
So, this has turned out not to be a problem. I have removed the /images/ endpoint.

[2016-06-17 13:16] #41 closed, assigned to agpar

[2016-06-17 13:19] ahankinson commented on #73
I would like it to be pretty clear that we aren't just downloading and re-hosting content -- that all of the data we have comes from the libraries, and that we provide links back to the libraries' sites.

Just like a search engine, the main purpose of musiclibs is as a discovery system for finding things held in libraries, and then taking them back there for more information.

[2016-06-17 13:23] agpar commented on #73
I understand and agree with you. What I'm trying to say is that we don't have any guarantee that the 'related' link will be anything in particular.

[2016-06-17 13:25] ahankinson commented on #73
Yeah, I know. But that's a political problem, and the best way of dealing with it is by dangling a carrot: "If you use the 'related' key properly, harvesters will be able to link back to your site!"

If we build it, they will something something.

[2016-06-17 13:30] ahankinson commented on #69
So I've changed this to a 'for sure' thing. I think it will be good to develop and publish this as a separate component, so you can add this to the 'to-do' list for post-presentations in July.

Once we get a bunch of manifests loaded up on musiclibs.net, I'm going to send it around to the IIIF mailing list, probably in about a week or so. I'd like to also mention the validator, and that we'll be r

[2016-06-17 13:41] agpar commented on #69
Sounds good. It might actually take quite a bit of work, but there should definitely be time for it!

[2016-06-17 14:54] #64 closed, assigned to belljustin

[2016-06-17 14:55] #74 closed, assigned to belljustin

[2016-06-17 20:21] jeromepl commented on #66
Implemented in merge c77edb38936a1aff0123a15f149cffeb9cd8adb2

[2016-06-17 20:22] #66 closed, assigned to jeromepl, belljustin

[2016-06-17 20:24] #40 closed, assigned to wabain, belljustin

[2016-06-17 20:34] jeromepl commented on #61
Implemented in merge c77edb38936a1aff0123a15f149cffeb9cd8adb2

[2016-06-17 20:34] #61 closed, assigned to jeromepl, belljustin

[2016-06-17 20:35] jeromepl commented on #59
Implemented in merge c77edb38936a1aff0123a15f149cffeb9cd8adb2

[2016-06-17 20:35] #59 closed, assigned to jeromepl

[2016-06-17 20:39] jeromepl opened #75 "Add animations for many components"
Here are 3 possible animations we could implement, all up for discussion:
- When the second input field for pitch search needs to be shown, make it gradually appear by increasing its width until full size.
- From the landing page, when starting to search something, make the result list slide in from the top.
- When clicking on a result to display it, make the whole diva and metadata viewer section

[2016-06-17 20:44] jeromepl opened #76 "Fix the rapid resizing of the results list when typing in the search input fields"
The results list panel resizes based on the size of its content at the moment, which means when performing a search il will constantly resize and resize the diva viewer at the same time.

[2016-06-17 20:48] jeromepl opened #77 "Make website mobile-friendly"
Right now the website design works only when the width of the viewport is at least 992px (The medium bootstrap size). Components' sizes need to be adjusted and maybe moved around with media queries if necessary. I have difficulty imagining what the website would look like on a phone, since everything is divided into columns right now and requires a big width.

I haven't tested touch support either

[2016-06-17 20:54] jeromepl opened #78 "Fix diva viewer bug"
Currently, after viewing a result then clicking on a new one and coming back to the first one, the diva viewer becomes un-scrollable and the diva toolbar duplicates. When repeating those steps, even more toolbars get appended.

Here is what I know about this bug at the moment:
- It happens only when viewing a manifest that has been previously loaded (it exists in the redux store under manifests ->

[2016-06-17 20:55] ahankinson opened #79 "Stats are missing on frontpage"
With the recent update on dev the 'XX items from YY sources' text disappeared.

[2016-06-17 21:05] agpar commented on #79
All my hard work!!!

[2016-06-18 00:00] ahankinson opened #80 "Try to find additional information about a source to index"
In manifests that contain a 'related' or 'seeAlso' key, we should grab that stuff and index it for full text search as well.

This is probably a fairly big job and may be implemented on a library-by-library basis, but it would provide fodder for searches on different kinds of data not exposed in the manifests.

[2016-06-18 00:03] ahankinson commented on #58
Related to #77

[2016-06-18 00:04] ahankinson commented on #36
This is underway. Closing.

[2016-06-18 00:04] #36 closed, assigned to nobody

[2016-06-20 12:38] agpar opened #81 "Many corrupted images on compute images.simssa.ca."
The salzinne image files copied onto [compute canada are all corrupted](https://images.simssa.ca/iiif/image/cdn-hsmu-m2149l4/cdn-hsmu-m2149l4_002v.jp2/full/full/0/default.jpg). [ch-sgs-390](https://images.simssa.ca/iiif/image/ch-sgs-390/ch-sgs-390_038.jp2/full/full/0/default.jpg) and [ch-sgs-391](https://images.simssa.ca/iiif/image/ch-sgs-391/ch-sgs-391_162.jp2/full/full/0/default.jpg) also appear

[2016-06-20 13:38] ahankinson commented on #81
I'll try it again today.

[2016-06-20 14:23] agpar commented on #78
It looks like diva just does nothing to clean up that toolbar when you destroy it. The reason it disappears _sometimes_ is because when you select a new manifest, you are instantiating a diva component with a before unseen set of properties, so react unmounts the current component and makes a new one (effectively clearing out all the divs). When you look at a previously viewed manifest, you are in

[2016-06-20 14:28] agpar commented on #78
The root of the problem is that diva renames its divs every time you instantiate a diva viewer. So the toolbar is originally called `1-diva-tools`, then the second one you create is called `2-diva-tools`, etc. So when react does the diff between the current `2` diva viewer and the cached `1` diva viewer, it sees these two divs that it have different ID's and decides that they are unrelated, so kee

[2016-06-20 18:55] #79 closed, assigned to belljustin

[2016-06-20 19:18] agpar commented on #78
Just to be clear, this is fixed, gut there might be good reason to see if we can pull the manifest request out of the page load so we can avoid instantiating multiple diva viewers.

[2016-06-20 19:22] #78 closed, assigned to jeromepl, belljustin

[2016-06-21 02:05] ahankinson commented on #81
An update: It works, sort of. After trying all the most recent versions of Kakadu (v7.5-7.8), none of them seemed to work. What I did to 'fix' it was to copy over the compiled IIP binary and make sure the linked paths were in place, and it seems to work now.

Not ideal, though. I'll leave this open until I can think of something better.

[2016-06-21 14:03] agpar opened #83 "Clicking suggestion no longer works."
When I type 'salinnes' into the search bar, I get prompted with a 'did you mean "salzinnes"' link, but clicking the link does not populate the search bar with the new query or bring me to the correct page.

[2016-06-21 14:04] agpar commented on #45
There is no more upload button. We can access the upload page via the url, but can only upload if logged in.

[2016-06-21 14:04] #45 closed, assigned to wabain, belljustin

[2016-06-21 14:04] ahankinson commented on #83
Is it possible to check whether 0 results were found and then trigger another query with the top suggestion? "Found 0 results for salinnes. Searching instead for salzinnes"

[2016-06-21 14:10] agpar commented on #83
Yes.

[2016-06-21 14:13] ahankinson commented on #83
Cool.

[2016-06-21 14:13] ahankinson commented on #83
Should that be a separate issue?

[2016-06-21 14:18] agpar commented on #83
Nah, I can put it together fairly quickly!

[2016-06-21 14:22] #73 closed, assigned to belljustin

[2016-06-21 14:51] agpar commented on #83
So if a search returns 0 results but solr produces a collationQuery we will automatically do the new search and return its results. I've added an `applied_correction` key to the search block which is a list with the original query at 0 and the corrected query at 1. This can be handled by the front end to alert the user to this information. @jeromepl @belljustin

[2016-06-21 18:28] ahankinson opened #84 "Search results label is duplicated"
In the search results, the title and the label shown seem to just duplicate each other.

I know there is probably a limited amount of room for this particular view, so I would like to see the 'Label' field changed to show the source of the manifest (Internet Archive, Vatican, etc.)

[2016-06-21 19:16] agpar commented on #84
Can you give an example search query on dev where this happens? `title` is not a top level key, so if a query matches on `label` and `title` its likely because the library included `title` as a metadata key. What I'm getting at here is that they are different things.

[2016-06-21 19:30] ahankinson commented on #84
https://dev.musiclibs.net/?q=klavier

[2016-06-21 19:31] agpar commented on #84
Oh, you mean the label being a hyperlink and the highlight of the label underneath? That's the redundancy right?

[2016-06-21 19:31] ahankinson commented on #84
Perhaps it could be styled a bit like Google's results, where the source URL is given just below the title.

I don't think we should include the URL to the manifest, but perhaps something like "Source: archivelabs.org" ?

[2016-06-21 19:32] ahankinson commented on #84
Yeah -- it looks like the title and the highlighted bit is the same thing.

[2016-06-21 19:36] agpar commented on #84
Okay, I misunderstood then. They would be the same thing in that case.

Should we remove the highlighting in the results? Or only in the case of the 'label' field (which will always be the same as the hyperlink to view the result).

We can display the url of the library. Although, that might be a little bit tricky since a lot of libraries have different hostnames for the iiif services than the act

[2016-06-21 19:39] ahankinson commented on #84
I think just the hostname of the IIIF host would be fine. I don't think we need to remove the highlighted area, just put something like: "Source: iiif.harvard.edu" directly under the title so that it's clear that they're coming from different places.

I'm thinking of something like the green URL text in Google searches: https://www.google.ca/search?q=klavier

[2016-06-21 19:41] agpar commented on #84
Ok, sounds good :+1:

[2016-06-22 12:08] agpar commented on #84
![image](https://cloud.githubusercontent.com/assets/9021839/16265993/7f9369ae-3850-11e6-8ddf-0ab1c700c113.png)

Like this?

[2016-06-22 12:59] ahankinson commented on #84
Beautiful! 🎉

[2016-06-22 13:46] agpar commented on #84
Related: I'm fixing it so that if a highlight is on the label, it will just highlight the hyperlink rather than include the 'label' field in the body of the result.
![image](https://cloud.githubusercontent.com/assets/9021839/16268889/249b48ec-385e-11e6-9353-02078d5ddd96.png)

[2016-06-22 14:15] belljustin opened #85 "Requests the same manifests on pitch search toggle"
![pitchsearch](https://cloud.githubusercontent.com/assets/8331769/16269890/40114b9a-3862-11e6-9706-19d167560ca1.gif)

[2016-06-22 14:15] agpar commented on #84
This should be all wrapped up.

[2016-06-22 14:15] #84 closed, assigned to agpar

[2016-06-22 14:32] agpar commented on #85
www.thatsweird.com

[2016-06-22 14:53] ahankinson commented on #84
:shipit:

[2016-06-22 15:52] #85 closed, assigned to nobody

[2016-06-22 18:02] ahankinson commented on #68
I can't reproduce it now. Closing; open again if it becomes a problem.

[2016-06-22 18:02] #68 closed, assigned to jeromepl

[2016-06-22 18:04] ahankinson opened #86 "Truncate source description"
Some of the source descriptions are pretty long. We should truncate them (~100-150 words?) and offer to expand them with a 'read more' link (or a '[+]' link, like in earlier versions of the search results)

[2016-06-22 18:38] ahankinson opened #87 "Note on experimental nature of pitch search"
When a user clicks the 'pitch search' a note should appear somewhere alerting users to the fact that this is an experimental feature and is not available yet for all sources.

[2016-06-22 20:41] belljustin commented on #87
Does this work?

![screen shot 2016-06-22 at 4 40 36 pm](https://cloud.githubusercontent.com/assets/8331769/16282756/193654d0-3898-11e6-8845-e89fa1b0fa43.png)

[2016-06-23 02:46] jeromepl commented on #76
The reason I used max-width here is because the result list can disappear if there are no search results. I think it is a cool feature to have and could be done easily in javascript.
Reopening for discussion

[2016-06-23 03:02] ahankinson commented on #76
I would like to see the following behaviour:
- A user searches
- A list of search results appears with no right-hand pane. The width of this list should be about 1/3 of the width of the full page.
- Clicking on a result animates a pane in with the source view, occupying the blank 2/3 of the page
- Clicking on another result animates the old source out and swaps a new one in.

I think we should at

[2016-06-23 20:15] agpar opened #89 "Make search more fluid."
Right now a SearchRequest event gets fired (twice?) every time a character changes in the main input bar. This results in some pretty laggy and slow response time from the search bar, since it can lead to copying some 20KB worth of json between dicts and and checks the DOM for components that need to be reloaded many times in a second (any component that gets the `search` key as a prop will have t

[2016-06-23 20:21] agpar commented on #83
This would be fixed on dev now.

[2016-06-23 20:21] #83 closed, assigned to nobody

[2016-06-23 20:23] agpar commented on #87
Can we make it a different color (reddish/yellowish)? Maybe put it on top of a `<hr>`? It will be possible to get a spell correction message at the same time, and that would result in a pretty big blob of grayish text.

[2016-06-23 20:34] ahankinson commented on #87
Does that only appear when pitch search is active?

Another option is just to make the link say "Pitch Search (experimental)"

[2016-06-23 20:41] belljustin commented on #87
Yeah, it would only be visible when pitch search is active. Just mocking it up within chrome now

![screen shot 2016-06-23 at 4 37 22 pm](https://cloud.githubusercontent.com/assets/8331769/16319325/d8e10942-3960-11e6-8910-1a3f85f4d966.png)

![screen shot 2016-06-23 at 4 42 52 pm](https://cloud.githubusercontent.com/assets/8331769/16319515/95c25494-3961-11e6-974f-0d485af2782d.png)

[2016-06-23 20:45] ahankinson commented on #87
The first picture looks like it shows up when pitch search isn't active...

[2016-06-23 20:48] belljustin commented on #87
Yeah - I haven't implemented it. Just doing it in the browser so we can check out what it looks like

[2016-06-23 20:56] #86 closed, assigned to belljustin

[2016-06-24 19:03] wabain commented on #89
The last time I saw performance issues with the search it turned out to just be overhead caused by the React DevTools. I'd be careful to profile the performance issues before doing any work-intensive refactoring.

[2016-06-24 20:08] agpar commented on #89
Good advice! The dev site is much smoother than I thought.

[2016-06-27 12:18] agpar commented on #62
Will import as much as possible to main site today.

[2016-06-27 14:32] jeromepl commented on #76
The result list is now hidden if there is no search query in 8d671bf9de22bebbf0b5a29bb13ffda09437e051

[2016-06-27 14:32] #76 closed, assigned to jeromepl, belljustin

[2016-06-27 14:51] belljustin commented on #67
Did you get a chance to write text for this, @ahankinson?

[2016-06-27 15:26] ahankinson opened #91 "Small front page fix-ups"
1. Change "Recently uploaded" to "Selected items"
2. Move the "Searching x documents from y sources" to just below the search bar ("Pitch search" on the right, this statement on the left.)

[2016-06-27 15:27] ahankinson commented on #87
@belljustin this should to in today, if possible, so we can roll it out on musiclibs.net

[2016-06-27 15:45] belljustin commented on #87
Yeah, no problem. Which design should we go with?

A
![screen shot 2016-06-27 at 11 37 32 am](https://cloud.githubusercontent.com/assets/8331769/16385708/d286f644-3c5b-11e6-9fe6-e9bc64a9aa9a.png)
B
![screen shot 2016-06-27 at 11 37 50 am](https://cloud.githubusercontent.com/assets/8331769/16385711/d2959d98-3c5b-11e6-8a2d-cbdd38adc719.png)
C
![screen shot 2016-06-27 at 11 38 48 am](https://cloud.gi

[2016-06-27 16:37] agpar commented on #87
I like the blue box.

[2016-06-27 17:11] lexpar commented on #91
"make the header" ?

[2016-06-27 17:29] ahankinson commented on #91
I have no idea what you mean. ;)

[2016-06-27 17:29] lexpar commented on #91
What comment are you replying to? I'm even more confused.

[2016-06-27 17:30] ahankinson commented on #91
Clearly there is some sort of miscommunication here.

[2016-06-27 17:30] agpar commented on #91
What?

[2016-06-27 17:31] agpar commented on #91
#WorkingHard

[2016-06-27 17:32] agpar commented on #91
~~I changed the text to say "Search from X documents" since the source counting is sort of off base and a small number.~~
I wrote a better way to count libraries, so we can use that now.

[2016-06-27 18:29] agpar commented on #91
![image](https://cloud.githubusercontent.com/assets/9021839/16391098/8f57ddd0-3c73-11e6-808d-3d298955e386.png)

[2016-06-27 18:34] #87 closed, assigned to jeromepl, belljustin

[2016-06-27 18:40] agpar commented on #81
Removing from first of july milestone, since the temporary nature of the fix shouldn't affect this milestone.

[2016-06-27 18:41] agpar commented on #27
I know we fixed the race conditions on the responses, do @belljustin or @jeromepl know if the error handling issue persists?

[2016-06-27 18:42] agpar opened #92 "Add 'in-document' search to right panel of detail view."
As discussed in #60 (which I will be closing), we have agreed on the idea of an in-document pitch search bar in the manifest-detail view. This bar would exist on the right panel of the screen (much like cantus). When a user starts typing in the in-document search, it should minimize the left search panel and display pitch searches with thumbnails and location data in the right panel (again, much l

[2016-06-27 19:20] jeromepl commented on #27
This made me find out that there is currently an issue with the "Retry" button. After fixing it I will be able to check if the error handling works.

[2016-06-27 19:45] #60 closed, assigned to agpar

[2016-06-27 19:46] agpar commented on #91
Unless I've misunderstood something, this should be done.

[2016-06-27 19:46] #91 closed, assigned to jeromepl, agpar

[2016-06-27 19:48] agpar commented on #62
I have yet to import the vatican manifesets, as they seem to be buggy. I am also waiting to import a large collection of stanford manifests until after the presentation. Currently we have about 1600 documents on musiclibs.net.

[2016-06-27 19:49] ahankinson commented on #62
what's wrong with the vatican ones?

[2016-06-27 19:52] agpar commented on #62
They can be imported, but some problem with their formatting is preventing diva from displaying them. I haven't figured out what it is. Here is one: https://dev.musiclibs.net/manifests/b3d058cc-e4b9-4aa5-bec3-14031a0d6c2e/

[2016-06-27 19:54] agpar commented on #62
I believe it's some problem with their image server, since I can't get any of the images referenced by a manifest manually.

[2016-06-27 20:24] jeromepl commented on #27
I have found that there are 2 "Retry" buttons in the code. One is in the search results heading and now works properly. The other is in the followup actions and it seems like it would never be rendered.

The conditions for the second button to appear are as follow:
1 - The current search value is not null (search.current.value)
2 - The results size is bigger than 0 (search.current.value.results.si

[2016-06-27 20:36] agpar commented on #27
I'm afraid I can't help... I've not looked at the procedure for making and caching searches on the frontend.

[2016-06-27 20:41] wabain commented on #27
I'm not sure if it's reachable given the bugs, but the intent was for it to show up when there was an error requesting a page of results subsequent to the first.

[2016-06-28 11:31] wabain commented on #81
Full-region Beromunster images also seem distorted ([for instance](https://images.simssa.ca/iiif/image/beromunster/bm_001.tif/full/710,/0/default.jpg)). Presumably that's related?

[2016-06-28 14:53] agpar commented on #62
It was a problem with the custom validator overrides for the vatican! Fixed it in 17149eefa555f3851aee651e2ebd3fa11d942400 and importing their files onto production a we speak.

[2016-06-28 14:54] agpar commented on #62
We still have the problem with ad-blockers though... I wonder what we should do about that. Perhaps proxying images through our own endpoint would actually be useful in the general case.

[2016-06-28 14:56] ahankinson commented on #62
Complain to the Vatican. I'll go see Benedict next week. :)

[2016-06-28 15:04] agpar opened #94 "Library showcase page."
I wonder if you guys think it would be a good idea to have a 'library showcase' page. Now that the text under the search bars actually reads '... from X libraries', it got me thinking that it might be nice to have a page where we can display library logos, links to search for a specific libraries stuff, and to visit the libraries website. It could be basically like the front page (4-wide grid of l

[2016-06-28 15:05] ahankinson commented on #94
Yes! I like this idea.

I'm actually not a _huge_ fan of the 3x3 tiles, but they are good for eye candy. I think we should have some sort of 'browse' interface, but perhaps a list more like the search results, where we can facet by provider.

[2016-06-28 15:12] jeromepl commented on #27
Alright, so I have determined that the code is still reachable. The second button is shown when trying to load more results but an error occurs. I am working on fixing it at the moment. Currently, the first page is reloaded when pressing "Retry" instead of the next page.

[2016-06-28 15:26] #27 closed, assigned to jeromepl

[2016-06-28 15:32] jeromepl commented on #94
Good idea! Personally I would see it more like Alex's idea: as a grid. Here is something similar from google for inspiration: https://summerofcode.withgoogle.com/organizations/?sp-page=4

[2016-06-28 15:44] jeromepl opened #95 "Fix diva viewer sometimes not showing the correct initial page"
I just implemented a feature where the initial page shown by Diva is now the page containing the first OMR result. However, I ran into an issue with Diva while coding it and had to use a workaround. Here is the issue in question:

Right after Diva has loaded, I try to use Diva's gotoPageNumber method. At this point I am sure that the diva instance has been created and the method in question return

[2016-06-28 15:46] jeromepl commented on #95
Here is the code I am talking about: https://github.com/DDMAL/musiclibs/commit/1f0ed40b3db9ecf62ce57224e63f49f799ca7ea8#diff-8165737331ce05a19750bfe9efbff7efR64

[2016-06-28 15:48] musicus commented on #62
You are going to see Pope Francis & Emeritus Pope Benedict? Cool.

[2016-06-28 15:49] ahankinson commented on #95
You could listen for `ViewerDidLoad` and then call the method in question. That way you're guaranteed that the viewer is completely loaded with all the pages before firing the gotopage method.

[2016-06-28 15:49] ahankinson commented on #62
Give me a break man, I'm protestant. I can't keep all these popes straight. :)

[2016-06-28 16:06] agpar opened #96 "Change to /manifests/[id] API. (proposal)"
**Short version**: Currently the json response from `/manifests/[id]` is the entire manifest served at the top level of the response (Any corrections applied at import time will appear, but it will be nearly identical to the original manifest). I'd like to put the manifest under a `manifest` key in order to allow other top-level keys. I would like this `manifest` key to be used _only_ by diva to d

[2016-06-28 16:24] jeromepl commented on #95
I have tried it with `DocumentDidLoad` and it seems to work! Finishing this atm.

[2016-06-28 16:53] #95 closed, assigned to jeromepl

[2016-06-28 19:53] #67 closed, assigned to ahankinson, belljustin

[2016-06-28 20:50] jeromepl commented on #67
The McGill and SSHRC logos have not been pushed yet!

[2016-06-28 21:31] ahankinson opened #97 "Auto-link URLs in manifests"
If a manifest has a URL in the metadata field, we should render it as a link in the description.

[2016-06-28 21:34] ahankinson opened #98 "Ability to fire POST when a record has been added/updated"
If a manifest has been added or updated, we should have the ability to fire a POST request to a configurable listener with a URL to the record in the body of the request.

This will be needed when, for example, we add a new source to musiclibs and then want to trigger an OMR workflow in Rodan.

[2016-06-28 21:39] agpar commented on #97
I'm not sure I understand the problem. Are you saying that any URL from a manifests metadata should be automatically converted to hyperlink on the detail page?

[2016-06-28 21:41] agpar commented on #98
A listener that can send a post request to an outside service when a manifest is added/updated?

[2016-06-28 21:47] ahankinson commented on #97
Yeah -- the gallica stuff, for example, has a bunch of links embedded in it.

[2016-06-28 21:49] ahankinson commented on #98
Yeah -- we'll want to be able to fire off a signal (or several signals?) to services that can do stuff with our manifests. The most obvious one is Rodan (see the linked issue) so that we can automatically OMR the stuff coming in.

[2016-06-28 21:50] ahankinson commented on #98
We might also want listeners too so that when the Rodan workflow is done we can send back the results of the workflow and incorporate it into the Musiclibs index.

[2016-06-28 21:53] ahankinson commented on #96
See ArchiveLab/iiif.archivelab.org#10 and ArchiveLab/iiif.archivelab.org#11. I think the "right" way to do this is to ask the upstream providers to put more info in their manifests.

That's not to say I'm opposed to this change -- I can see the benefits of providing our own processing to the manifests we harvest, so I don't see any problem with this proposal.

[2016-06-29 13:31] jeromepl commented on #97
Here is a nice regex for that: ^(https?:\/\/)([\da-z.-]+).([a-z.]{2,6})([\/\w .-]_)_\/?$
I am assuming here that we only want to create a link when the http/https is specified.

[2016-06-29 13:35] ahankinson commented on #97
I don't know... [`archie://`](https://en.wikipedia.org/wiki/Archie_search_engine) links would be kinda cool too...

(I'm kidding.)

[2016-06-29 13:52] agpar commented on #63
Fixed on dev.

[2016-06-29 13:52] #63 closed, assigned to agpar

[2016-06-29 13:53] agpar commented on #97
#McGillPride

[2016-06-29 14:30] agpar commented on #69
Right now the validator is sort of bare bones - it doesn't return any warnings (all the SHOULD directives from the API are ignored). This is obviously because we don't need them... We just want to know if we're likely to be able to display the thing.

If we're going to release this, I can see myself going one of two ways:
1. Keeping it barebones. The only work to do then is to document and make th

[2016-06-29 14:35] ahankinson commented on #69
No. 2, definitely. Plus points for fancy coloured output (that can be disabled) and logging levels (ERROR, WARN, RECOMMEND?)

[2016-06-29 14:35] ahankinson commented on #69
We need a catchy name for it. Suggestions for "Vaildate McValidateface" will be ignored.

[2016-06-29 14:38] agpar commented on #69
https://www.pastemagazine.com/blogs/lists/2014/05/kaiju-a-go-go-every-godzilla-monster-from-lamest-to-coolest.html

[2016-06-29 14:46] agpar commented on #69
Is keeping the easy customizability of the validator important? Right now most validation functions are very bare bones (check if its a string or a list of strings), so also very easy to override. The more warnings and logging stuff we add, the more difficult it will be to override specific field/block behaviour.

Also, we do corrections while validating with the current validator. This is part of

[2016-06-29 15:09] ahankinson commented on #69
I think the validator should be as strict as the spec. Any rewritten output should be documented as an example of how you might customize a validator for real world cases.

I don't know if this is a good suggestion, but would decorators for logging be a good idea here? That way we can raise errors in the strict validator, but someone else might just choose to decorate the method with a warning.

[2016-06-29 16:04] #97 closed, assigned to belljustin, agpar

[2016-06-29 23:16] ahankinson opened #100 "Import IMSLP collection"
The IMSLP has a collection at the internet archive:

https://archive.org/details/imslp

We should figure out how to get all the identifiers from this collection and import them all.

[2016-06-29 23:33] ahankinson commented on #100
Also, 💯 !

[2016-07-07 20:54] jeromepl commented on #81
Cantus Ultimus currently has all the full sized jp2 images for Salzinnes, ch-sgs-390, ch-sgs-391 and nl-uu-406. Would that help anyone? They are all placed in a separate volume on Compute Canada.

[2016-07-07 21:12] agpar commented on #81
I was incorrect in calling the images corrupted. According to @ahankinson, the issue was with some bug in the way the IIP software compiled on the server. Thus, alternate copies of the images will not be helpful.

Should we still consider this an open/high priority bug?

[2016-07-07 21:14] jeromepl commented on #81
I just finished installing the IIP server on the new cantus server (after running in many issues) so I might be able to help here. Let me know!

[2016-07-07 21:15] agpar commented on #81
I don't see a problem with keeping things the way the are now (externally compiled binary running the show). The images we get on musiclibs look right to me.

[2016-07-07 22:05] ahankinson commented on #81
@jeromepl what did you do to fix yours?

Once we get cantus running with IIIF manifests, we should switch to serving the images from images.simssa.ca. It centralizes our image server and makes it so that we can build out if we need to support heavier loads.

[2016-07-08 07:05] ahankinson opened #101 "Import Gallica"
[code]

This should retrieve all the musical manuscripts. Doing this call with content negotiation will get you the JSON representation:

[code]

From there, the Gallica response can be parsed and the Manifest IDs generated. This should result in about 4,775 results.

Also available is all scores:

[code]

Same process; this should result in just over 40,000 manifests.

[2016-07-08 07:08] ahankinson commented on #101
FYI, I think the results are paginated, so you'll probably have to loop through the pages to get them. And the JSON they return is... uhm... well, I trust you'll figure it out. :)

[2016-07-08 13:08] jeromepl commented on #81
The only thing that worked for me was to compile [version 1.0 of iipsrv](https://sourceforge.net/projects/iipimage/files/IIP%20Server/iipsrv-1.0/iipsrv-1.0.tar.bz2/download) directly on the server. Using any precompiled version or compiling from the master branch of the project did not work.

[2016-07-08 13:39] agpar commented on #101
Yo that's a 4 MB json response.

[2016-07-08 13:40] ahankinson commented on #101
Good luck, soldier.

[2016-07-08 14:29] agpar commented on #101
Something like 10% of the results are links to other libraries which host the files... I'm going to log these, but ignore them for now, since they have different IIIF set ups that I don't want to figure out right now.

[2016-07-08 14:52] agpar commented on #101
Also, not sure if this search is clear enough. There's a lot of handwritten letters _about_ music.

[2016-07-08 14:55] ahankinson commented on #101
It comes from here: http://gallica.bnf.fr/html/und/partitions/partitions

[2016-07-11 17:31] agpar commented on #101
Gallica manuscripts and scores have been imported. Had to remove and update the list of manuscripts, since it turned out all but 800 of them were letters. Luckily, they were easy to remove. The list of manifests we attempted to import and the results of those imports are saved on the server.

I have the script I used to parse through their search results for info. I could edit it to be a little mo

[2016-07-12 03:37] ahankinson commented on #101
Yes please. Could you also contact Malcolm and get his script for Internet Archive?

[2016-07-12 14:04] jeromepl commented on #77
Here are the new resizing input fields:
![musiclibs-capture](https://cloud.githubusercontent.com/assets/7671307/16769570/4877684a-4817-11e6-8e05-7c88bce2fea0.gif)

The website should now at least work on any screen size. However, it is really hard to use when the screen becomes really small. At this point, if we want more support for mobile devices, we should start thinking about redirecting to a

[2016-07-12 15:04] ahankinson commented on #77
Media Queries?

[2016-07-12 15:15] agpar commented on #101
Sure thing. I've sent him an email.

[2016-07-12 15:32] jeromepl commented on #77
~~I thought about it, but media queries won't work if we want to show only either the search results or the diva viewer. The reason is that we have no way of knowing which to display.~~

Actually, scratch that. The more I think about it, the more I think it is possible to do with media queries. Under a certain screen size, we should hide the search results **only if there is a displayed manifest.*

[2016-07-12 17:50] agpar commented on #101
I wrote a [re usable search scraping class](https://github.com/DDMAL/musiclibs/blob/dev/misirlou/helpers/harvesters/search_scraper/search_scraper.py) that we can hopefully apply to many libraries. It's a super-class that has all the logic for doing rate limiting and multi threaded fetching. All that a child class needs to define is how to work through pagination of results, and how to turn a respo

[2016-07-13 13:38] ahankinson opened #102 "change working of "from x libraries""
Since quite a few of the sources we index are from multiple libraries, we should change the wording of the stats to say "Searching X documents from Y sources"

[2016-07-14 13:11] ahankinson opened #103 "Server improvements"
The musiclibs.net server could do with a couple tweaks:
- Enable gzip. Right now it's sending 660KB JS uncompressed. Gzip should be enabled for all static files (JS, CSS) and even content coming from Django.
- Update nginx. Nginx 1.4.6 was released over two years ago. Update nginx to 1.9+

[2016-07-14 13:28] agpar commented on #103
Ah - gzipping was turned on, it was not yet configured on the proxy server (which, by default, unzips things before sending them back- doh).

I just installed nginx via the ubuntu 14 apt program. You think it's worth adding a non-statndard nginx repo or compiling from source to get this upgrade?

[2016-07-14 13:33] ahankinson commented on #103
You can get packages directly from nginx.org.

http://nginx.org/en/linux_packages.html

Just look at the "For Debian/Ubuntu" section. We probably want 'stable' and not 'mainline'

[2016-07-14 13:34] agpar commented on #103
Does it matter to you if the backend servers are running new nginx? Or just the web facing router.

[2016-07-14 13:35] ahankinson commented on #103
We should probably standardize as much as possible...

[2016-07-14 13:36] agpar commented on #103
Ok I'll add the stable nginx ppa to everything then.

[2016-07-14 13:49] ahankinson opened #104 "Change default query operator"
The default operator for fulltext seems to be 'OR'. This should be 'AND.' If I search 'piano flute' I will want something with both piano and flute, not piano or flute.

[2016-07-14 14:35] agpar commented on #104
It's a little more nuanced than that. We can set it so it ANDS up to a certain query length, then allows a small amount of OR'ing. I had set it to OR very early (always), since we had so few docs, but we can change that now.

I'm thinking for 2 terms or less, we require all terms. For 3 terms or more, we allow one of the terms to be missing. How does that sound?

[2016-07-14 14:44] ahankinson commented on #104
Sounds good

[2016-07-14 14:51] agpar commented on #104
Do you want me to try to get these changes on to deployment today? Asking since I told you I wouldn't touch it this week.

[2016-07-14 14:53] ahankinson commented on #104
No, I think it's best if we don't touch it now. After tomorrow we can roll out all the new things

[2016-07-14 16:56] agpar commented on #103
Actually, I've re-thought it, and I don't think that makes much sense. It should make sense to have the most updated stable nginx at the web facing end, if only for performance improvements. But I don't think we get any benefit from going around the standard ubuntu nginx on the individual projects. It's actually _less_ standard to be subverting the version standards that ubuntu defaults to.

Furth

[2016-07-14 17:02] agpar commented on #101
I think we have this finished.

[2016-07-14 17:02] #101 closed, assigned to agpar

[2016-07-14 17:02] agpar commented on #62
Can we call this done? New requests to import libraries can be put in individual issues.

[2016-07-14 20:49] ahankinson commented on #103
I want to run http/2 :)

[2016-07-14 20:49] ahankinson commented on #62
Done. 🌟

[2016-07-14 20:49] #62 closed, assigned to ahankinson

[2016-07-15 02:34] agpar commented on #103
Ok - I'll talk to ryan and jerome about it tomorrow (for the cantus and rodan support).

[2016-07-15 07:58] ahankinson opened #105 "Upload broken?"
I can't seem to upload manifests on production... It just sits there and spins.

https://iiif.archivelab.org/iiif/imslp-musices-odhecaton-petrucci-ottaviano/manifest.json

Looking at Celery, it looks like the queue is full of checking tasks, so that any upload will not get executed immediately. This should be fixed so that uploads and checking are in different celery queues.

[2016-07-15 13:08] agpar commented on #105
Ohhh yeah - that makes sense. We've never imported such a big volume as we did earlier this week. Hadn't thought about the test jobs clogging the queue.

[2016-07-15 14:07] agpar commented on #69
![image](https://cloud.githubusercontent.com/assets/9021839/16876892/ca827b28-4a73-11e6-80a3-efd570e1961e.png)

Starting to reach warning critical mass.

[2016-07-15 14:35] agpar commented on #69
Btw the idea to include decorators to coerce errors to warnings, vice versa, and suppress errors is a really good one.

[2016-07-15 14:50] ahankinson commented on #69
Great! Have we got a name and a separate repo yet?

[2016-07-15 14:54] agpar commented on #69
No. Should I create one in under the DDMAL lab stuff? What about `DDMAL IIIF Validator`? Its cool to have the name in the name. Like standard meta language of new jersey or berkley software distribution. Also clarity.

[2016-07-15 15:04] ahankinson commented on #69
I'm still partial to something along the lines of "tripoli" since I think it's a neat play on "Triple-Eye," and that someone is going to eventually name their software that in the IIIF community, so why not us? :)

For the examples you gave, they're more commonly known by their initialisms SML and BSD, and if we named it "DDMAL IIIF Validator" people might want to call it "DDMALIIIFV" which is a b

[2016-07-15 15:04] ahankinson commented on #69
The tripoli functional validator, or "Tripoli-F Validator" :)

[2016-07-15 15:05] ahankinson commented on #69
Or "Tripoli Formal Validator"

[2016-07-15 15:37] fujinaga commented on #69
How about “tripoliv”?

[2016-07-15 20:00] agpar commented on #69
If I could remove the voluptuous requirement, do you think I should? I've had to build around it in so many ways - at this point nearly every shortcoming it has (for our purposes) has been bolstered by my own compensatory code. It also kind of gets in the way when trying to over-ride behaviour, as you need to know about the library and how to create a `voluptuous.Schema` object.

I think I could r

[2016-07-15 21:05] ahankinson commented on #69
Fewer dependencies are always better, as long as it doesn't reinvent the wheel.

I'm OK with removing it.

[2016-07-18 14:47] #102 closed, assigned to belljustin

[2016-07-22 17:19] agpar opened #106 "Look into IA manifest creation."
IA might be able to provide us with more robust manifests. Have a look here.
https://github.com/ArchiveLabs/iiif.archivelab.org/tree/master/iiify

[2016-07-22 17:52] ahankinson opened #107 "Add musiclibs to IIIF Awesome"
https://github.com/IIIF/awesome-iiif

Probably could be added to the 'discovery' section.

[2016-07-26 14:29] #58 closed, assigned to jeromepl

[2016-07-26 14:54] agpar commented on #105
The server now has two celery workers, one each on the `test` and `import` tasks. Thus, testing should no longer block importing.

[2016-07-26 14:54] #105 closed, assigned to agpar

[2016-07-26 14:56] agpar commented on #104
The change I described above has been implemented. faa3f00611328a6b2c090baf9850ed90d2df3ace

[2016-07-26 14:56] #104 closed, assigned to agpar

[2016-07-26 14:58] agpar commented on #103
We spoke about this briefly and decided that HTTP2 support was only important for musiclibs. The router and musiclibs server have been updated to nginx version 1.10 and are pulling from the `stable` nginx repo rather than the default ubuntu.

[2016-07-26 14:58] #103 closed, assigned to agpar

[2016-07-26 18:06] agpar commented on #106
I've put in 2 pull requests that should fix 2 issues.

https://github.com/ArchiveLabs/iiif.archivelab.org/pull/13
https://github.com/ArchiveLabs/iiif.archivelab.org/pull/14

[2016-07-26 18:06] #106 closed, assigned to nobody

[2016-07-26 18:14] agpar commented on #107
Before I put in the pull request:

`[Musiclibs](musiclibs.net) provides cross-library search of thousands of musical scores and manuscripts` ?

[2016-07-26 19:40] ahankinson commented on #104
Have you deployed it yet?

[2016-07-26 20:08] agpar commented on #104
Should have!

On Jul 26, 2016 3:40 PM, "Andrew Hankinson" notifications@github.com
wrote:

[2016-07-27 03:44] ahankinson commented on #106
This is so fantastic. Thank you.

[2016-07-27 15:11] agpar commented on #107
[It is done.](https://github.com/IIIF/awesome-iiif/pull/38)

[2016-07-27 15:11] #107 closed, assigned to agpar

[2016-07-27 16:30] ahankinson commented on #107
:+1:

[2016-08-02 23:34] ahankinson opened #108 "Gallica MSS does not import"
This particular manifest does not seem to work.

http://gallica.bnf.fr/iiif/ark:/12148/btv1b8447768b/manifest.json

[2016-08-03 01:11] #108 closed, assigned to nobody

[2016-08-03 14:36] agpar commented on #100
So, about 9000 imslp manifests from internet archive are coming in now.

[2016-08-03 14:42] agpar commented on #69
That done. Just need to send out a launch email.

https://github.com/DDMAL/tripoli
http://validate.musiclibs.net

[2016-08-03 14:42] #69 closed, assigned to ahankinson, agpar

[2016-08-03 14:44] ahankinson commented on #100
Only 9000?

[2016-08-03 14:44] ahankinson commented on #100
:-P

[2016-08-03 14:47] ahankinson commented on #100
I see you imported Stanford as well.

BTW, nice manifests now on IA. 😄

[2016-08-03 14:58] agpar commented on #100
Yeah, it says 20 000 on the page, but it doesn't want to show me any more pages after page 133 (with 75 results per page), so I'm not sure what that's about.

[2016-08-03 15:20] agpar commented on #100
Ok - managed to get all 26 000 identifiers from their search. Will start the big job soon!

[2016-08-03 15:40] ahankinson commented on #100
whoa.

[2016-08-03 21:25] ahankinson opened #109 "Accented characters"
I just clicked on a random document on the front page, and retrieved this:

https://musiclibs.net/manifests/58ca5099-5392-48ee-a274-bc6aa88f22a5

However, if I do a search for "Ghebart" I don't retrieve this source (it says no sources found). If I do a search for "Ghébart" however, I do retrieve the source.

So I think we need to make sure we index by mapping extended ASCII / UTF to ASCII. On DIAM

[2016-08-03 21:52] agpar commented on #109
Looks like we should have stuck with python2 ;)

[2016-08-03 21:53] ahankinson commented on #109
Why?

[2016-08-03 21:53] agpar commented on #109
Solving unicode issues by putting head in sand.

[2016-08-03 21:55] ahankinson commented on #109
Why is there no "head in sand" emoji? #frustrated

[2016-08-04 11:01] ahankinson opened #110 "Stemming"
Searching for "Cister" I would expect to get this as a suggested result:

https://musiclibs.net/manifests/13c0ca20-7414-47f0-ac9b-2f14d85be0b6?q=Cister

but it finds nothing. ("The letters! They do nothing!")

[2016-08-04 11:50] ahankinson opened #111 "Server-side configuration naming"
For the nginx configurations, I would prefer if the config files were named after the domain they define. For example, `tripoli.conf` should be `validate.musiclibs.net.conf`, `prod_musiclibs.conf` should be `musiclibs.net.conf` and `dev_musiclibs.conf` should be `dev.musiclibs.net.conf`.

[2016-08-04 13:55] agpar opened #112 "Broken Vatlib importer."
When a vatican manifest validator is created, a 'lists are unhashable' error is thrown. Something is wrong with the vatican validator.

[2016-08-04 17:29] agpar commented on #110
The issue here is that the solr spell checker will only make a maximum of 2 edits to a word as a spellcheck. We have a suggester that would handle this well (which I spent this morning getting very upset with), but we need to integrate it into the front end.

Type-ahead style suggestions like on google or elvis database would be ideal.

https://dev.musiclibs.net/suggest/?q=cister

Stemming exists

[2016-08-04 18:08] agpar commented on #109
One annoying issue is that accents can either matter all of the time or none of the time. Do you think we should just always fold accented characters down to ascii?

[2016-08-04 18:37] agpar commented on #109
This has been addressed in 56845cefd2f0cf7f7dbad570ebeb0f3e7a79db47 and is pending movement onto master.

Searching for `ghebart` will find the manifests, but the highlight currently shows it as being part of the `spellcheck_txt` field, which is a little silly.

[2016-08-04 19:02] agpar commented on #100
Looks like we got them all.

[2016-08-04 19:02] #100 closed, assigned to agpar

[2016-08-04 19:04] agpar commented on #110
Could we assign @belljustin to writing a frontend widget for displaying these results as you type?

[2016-08-04 19:33] agpar commented on #111
Should be all set!

[2016-08-04 19:33] #111 closed, assigned to nobody

[2016-08-04 19:48] #112 closed, assigned to nobody

[2016-08-04 21:39] ahankinson commented on #109
as long as you fold both query and indexers with the same filter, you should be fine. I noticed that your filter chain for query and for indexing is different -- I wonder if this will cause problems? It basically means that what people type, and what is available to be searched, can be slightly different.

[2016-08-04 22:01] agpar commented on #109
Thats for the suggester - the only difference is stopwords are filtered out at index time, but not at query time.

So, when you type `the` you will get `themes` suggested. `the` is ignored at index time, but `the` is not ignored at query time (so you can get suggestions for words whose prefix is a stopword, without having a stopword ever suggested for you).

[2016-08-04 22:06] agpar commented on #109
Except that I'm wrong and I put it on the `all_lang` field type instead of the `spellcheck` field type, haha. Will fix tomorrow.

[2016-08-05 00:23] agpar opened #113 "Duplicate manifests on http/https."
If a provider offers manifest behind both `http` and `https` without forcing a redirect from one to the other, it's possible to import both manifests - which is clearly not good.

Is it the rule that the same resource must be present at both the `http` and `https` of a url? If so, I should write a better comparison function to make sure this sort of duplication does not occur.

[2016-08-05 01:38] agpar opened #114 "Thumbnail saving?"
I'm interested if you think it would be worth it to save thumbnails and serve them ourselves. It's pretty underwhelming (the steak lacks _serious_ sizzle) when every thumbnail on the site takes 5-15 seconds to load (if they load).

Pros:
- Thumbnails will load quickly off our sweet CC server. Thumbnails can be saved at a low resolution and cached, making our services much faster than the slow IIIF

[2016-08-05 10:13] ahankinson commented on #114
I think the answer is to get those services to use IIIF thumbnails. Could you make a note of them on the problems document?

https://docs.google.com/document/d/1Lyg7FzBeTHBeC0qbPmFzJfyxpK9ySBKyoiYs0TQkCIs/edit#

In general, I'm hesitant to do this. For DIAMM, for example, if a source does not have a pre-defined thumbnail, I choose a random one from the available page images for the manifest. So th

[2016-08-05 14:32] agpar commented on #114
The problem with only caching is that we display a random .01% of the thumbnails every time the user loads the front page.

We could re-write how it chooses manifests to display on the front page so it only updates them nightly or weekly, thus making a cache system useful.

I  like being able to refresh the page and see a whole new set of interesting stuff though.

[2016-08-05 14:37] ahankinson commented on #114
Good point, but I think choosing a solution to this should be independent of the front-end features.

I'm only saying this because I'm finding that when I present the front page it's a bit strange to explain the stuff that is there. They're not really "Selected items" since we didn't select them, and saying "Random items" just seems a bit too indeterminate. So I'm wondering if that space would be

[2016-08-05 14:56] agpar commented on #114
I'm also think of search result thumbnails... We only want to show, like, 30kb of image, but they are often extremely slow to load, since we are typically asking for a dozen of them all at the exact same time from the same server.

I agree, explaining why the front page is half empty seriously sucks.

I think writing a system to retrieve, convert, save, and make thumbnails available would be a ver

[2016-08-05 14:59] agpar commented on #114
BTW: we do a similar thing in musiclibs with regards to thumbnails. If one is not provided, or if we know that library uses large images as thumbnails, we just grab a random one from the default sequence. It's still very slow.

[2016-08-05 14:59] ahankinson commented on #114
The problem is that the 'magic' of the site is that we're _not_ serving other people's content, though. Plus it might get us into a bit of a sticky situation WRT copyright if we're storing and re-hosting content.

[2016-08-05 16:07] agpar commented on #114
Yeah, I want the magic to be there too. I'd really like to make the site browsing experience better though. I wonder if it's something that will just resolve itself as IIIF image service implementations improve?

[2016-08-05 16:13] agpar commented on #113
Fixed in 475236c845ab830e260b05f9cc3b4f29458ed0ed

Pending merge into master.

[2016-08-08 14:50] agpar opened #115 "Can't type spaces in search bar."
This has been tricky to reproduce, but there is a set of steps you can do to make the search bar no longer allow you to type spaces.
1. Type in a search.
2. Click a result to load it.
3. Select all the search text and delete it.
4. Try to type in a new search.

Weird, right?

[2016-08-08 19:28] #113 closed, assigned to nobody

[2016-08-08 19:28] #109 closed, assigned to agpar

[2016-08-08 20:42] ahankinson opened #116 "Log rotation"
Some of the logs in the musiclibs logs directory are getting pretty big, so we should make sure log rotation is set up for this directory.

[2016-08-15 14:24] jeromepl commented on #77
I have added a branch 'wip-mobile-layout' on which I have started a basic mobile layout, but a lot is left to do. The search bar needs to scale with screen size, same for the footer, and the metadata should be hidden by default, with a button on the side of the window to 'unfold' it.

[2016-08-16 14:52] agpar commented on #116
Log rotation is set up with compression.

[2016-08-16 14:52] #116 closed, assigned to agpar

[2016-08-16 15:02] agpar commented on #110
We have (on dev.musiclibs.net) a type ahead feature that suggests words based on prefix, and suggests from the pool of title and labels based on phrase prefix.

[2016-08-16 15:58] belljustin commented on #115
@jeromepl found out that this doesn't happen in Firefox but does happen in Safari... which leads us to believe it's a chromium issue

[2016-08-16 16:29] ahankinson commented on #110
Looks good, but I need down-arrow selection. :)

[2016-08-16 16:41] jeromepl commented on #115
I think this is a React issue with chromium...
Only thing I found online was this and I am not even sure if it is the same issue (the user provided very little code): http://stackoverflow.com/questions/35052667/when-using-onchange-with-react-spaces-are-not-registered

I think we will need to create a workaround for this. We can use the onKeyDown event (I have tested it and it works) to manually ad

[2016-08-17 17:46] agpar commented on #98
I've added the scaffolding to do whatever sort of work we need to do when a manifest is updated/added in e83ec1dba796f8fa65748f4a4c93483d110696cd.

[2016-08-17 17:55] agpar commented on #94
Forgot to mention this whenever it happened, but we've had Sources for a while, and each Manifest is either assigned to or creates a new Source when it's imported. You can have a look at them on the production site, even http://musiclibs.net/sources

All that's really missing is a fancy front end and a view to filter manifests by a particular Source.

[2016-08-17 17:56] agpar commented on #89
This seems to be less of a problem on the production site, and would be an enormous amount of refactoring anyway.

[2016-08-17 17:56] #89 closed, assigned to nobody

[2016-08-17 20:21] ahankinson commented on #98
Could you please make sure it's documented well? This is one bit of functionality external to musiclibs that would benefit from having some human-readable documentation.

[2016-08-18 13:11] agpar commented on #98
Right now it has no external functionality. I haven't worked out with Ryan exactly what sort of external call to make - it's just the scaffolding (a signal that is handled by a function that does nothing).

[2016-08-18 13:13] agpar commented on #98
That is - the commit I linked:
1. Defines a signal.
2. Dispatches that signal in the correct situation.
3. Defines a signal handler, which currently does nothing.

[2016-08-23 14:21] agpar commented on #110
The suggestion feature has been merged into master, and the solr index is being rebuilt at this very moment.

[2016-08-23 14:21] #110 closed, assigned to agpar

[2016-08-23 15:45] agpar opened #119 "Refactor metadata indexing."

[2016-08-23 15:45] agpar opened #120 "Refactor metadata indexing."
The metadata indexing is difficult to work with, and does not handle some JSON-LD constructs in a very intelligent way. For instance, in language-value lists, it will ignore a value if it does not have a language. This is quick remedy, because it used to throw an error in this case.

The code is brittle and overlarge. Refactoring it would be very useful.

[2016-08-23 15:48] #119 closed, assigned to nobody

[2016-08-24 17:19] agpar commented on #120
I've done this on 1d396a42af9ac91ce58a44ae7d5f12f2d9625e42

[2016-08-24 17:19] #120 closed, assigned to agpar

[2016-08-24 20:59] ahankinson opened #121 "Clean up schema.xml"
It would be nice to remove all the stuff that comes with Solr by default and only have the field definitions that we're actually using. If we need to find out how to add certain kinds of fields later it's not too hard to find a default schema.xml, but cleaning it up should make it a bit easier to work with.

[2016-08-25 20:50] ahankinson opened #122 "Update to Diva.js 5.0"
Now that Diva 5 is out we should update our version.

[2016-08-26 13:44] agpar commented on #122
Jerome has told me he's already got this pretty much ready to go :)

[2016-08-26 13:47] ahankinson commented on #122
![](https://cdn.meme.am/instances/500x/55256315.jpg)

[2016-08-26 13:55] jeromepl commented on #122
Oh, I have pushed it. Had not seen this issue!

[2016-08-26 13:56] jeromepl commented on #122
See commit a698868f09039dcb2d62fd382ea7ca9c032418b8

[2016-08-26 14:14] jeromepl commented on #122
There is a bug. When searching for a manuscript, selecting one and then clearing the input field, the diva viewer resizes but is unaware of it. The document is thus displayed to the left and the right-most part is cropped. We need to fire the `PanelSizeDidChange` event for Diva to update properly.

[2016-08-26 14:44] agpar opened #123 "Support Diva linking."
The diva link button can be used to generate a url with parameters to point to an exact location within a ~~manifest~~ document. This feature does not work on musiclibs, as the query parameters are not passed in to Diva.

[2016-08-26 20:19] jeromepl commented on #122
I just tried to quickly fix this by listening to the "transitionend" event on the results list to trigger the diva "PanelSizeDidChange" event, without any luck. I think this approach did not work because the results list is often mounted and unmounted, which makes it hard to always add the events to the DOM element.
Perhaps the solution is to create a [custom transition group](https://facebook.git

[2016-08-31 19:01] agpar commented on #122
I wonder if the current page not drawing when `changeObject` is called is a diva issue?

I've been fiddling around to try to stop the app from re-rendering diva every time a new manifest is loaded. Now that I've fixed it, I find that this bug happens every time.

[2016-08-31 19:03] agpar commented on #122
Although, it looks like I can avoid this issue if the manifests are already cached, so it's probably a musiclibs issue.

[2016-10-26 21:05] mrbannon opened #124 "New dev instance"
Please make a new dev instance. Come see Ryan when you need that machine.

[2016-10-30 14:57] agpar commented on #124
Should be up an running at dev.musiclibs.simssa.ca,

[2016-10-30 14:57] #124 closed, assigned to agpar

[2017-01-25 16:33] musicus opened #125 "Pitch Search"
(I do realize the pitch search is experimental!)

There is no indication of how to search by pitch:
- Do I type in ```do ti la sol```, or ```72 71 69 67```, or ```C H A G```, or maybe ```0 E 9 7```?
- Do the pitches need to be separated by ```space```, ```comma```, ```semicolon```, or another sign?

[2017-01-26 14:53] agpar commented on #125
This is a good point! I think an easy solution is to just put some hint text in the pitch search field by default. For the record, you use lowercase letters in the range `a-g` and use no separator.... The function which parses these could also easily be updated to cast to lowercase and remove all non valid chars (spaces, semicolons, etc), as right now it does basically no validation of the search

[2017-05-10 17:25] #81 closed, assigned to ahankinson